-   
    var accoItems = [
        {title:"Для мясоедов", class:"",pic:"vertical-slider-bg-1", text: "Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр. Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову."},
        {title:"Вегетарианское", class:"",pic:"vertical-slider-bg-2", text: "Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр. Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову."},
        {title:"Диетическое", class:"",pic:"vertical-slider-bg-3", text: "Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр. Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову."},
        
    ]
section.menu#menu 
    h2.section__title.menu__title Меню
    ul.menu-accordion
        each accoItem in accoItems
            li(class=`menu-accordion__item ${accoItem.class}` )
                a(class=`menu-accordion__trigger ${accoItem.pic}`, role="button", href="#")
                    h3.menu-accordion__trigger-title= accoItem.title
                .menu-accordion__content
                    .menu-accordion__wrap.section__text
                        p= accoItem.text
  
