-   
    var reviewMembers = [
        {pic:"review-1.jpg", name:"Константин Спилберг", text:"Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным."},
        {pic:"review-2.jpg", name:"Алексей Редклиф", text:"Идейные соображения высшего порядка, а также консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. "},
        {pic:"review-3.jpg", name:"Александр Рефн", text:"Повседневная практика показывает, что сложившаяся структура организации в значительной степени обуславливает создание новых предложений."},
        {pic:"review-4.jpg", name:"Екатерина Линч", text:"Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение направлений прогрессивного развития. Не следует,"},
        {pic:"review-5.jpg", name:"Станислав Нолан", text:"Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании форм развития."},
        {pic:"review-6.jpg", name:"Андрей Шварценегер", text:"Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. "},
        {pic:"review-7.jpg", name:"Ярослав Сталоне", text:"Товарищи! новая модель организационной деятельности влечет за собой процесс внедрения и модернизации форм развития. Равным образом сложившаяся структура организации играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. "},
        {pic:"review-8.jpg", name:"Святослав Чан", text:"Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации существенных финансовых и административных условий."},
    ]
section.review#review
    h2.visually-hidden Отзывы
    ul.review__list
        each reviewMember in reviewMembers
            li.review__item
                .review__avatar 
                    img.review__pic.lazy__img(data-src=`./img/${reviewMember.pic}`, src="#",alt=`Фото ${reviewMember.name}`)
                .review__content 
                    h3.review__name= reviewMember.name
                    .review__text.section__text
                        p= reviewMember.text
                    .review__btn 
                        button.review__link Подробнее 
