section.hero 
    include ../components/header            
    .hero__content 
        .container 
            .hero__head
                h1.hero__title Развлечения и отдых на любой вкус ждут вас
                .hero__subtitle Боулинг, бильярд, атоматы, детская зона, пицца, суши, закуски. 15% скидка при оплате на сайте
                .hero__btn
                    button.hero__btn-link Забронировать дорожку
                    button.hero__btn-link Забронировать стол
                a.hero__phone(href="tel:+73832075505") +7 (383) 207-55-05