html {
  font-size: 16px;
  @include laptop {
    font-size: 15px;
  }
  @include tablets {
    font-size: 14px;
  }
  @include phones {
    font-size: 13px;
  }
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  color: $prime;
  text-rendering: optimizeLegibility;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

svg {
  display: block;
}

input {
  &:active {
    background: transparent;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $prime;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}
