$body-font: "Roboto", Arial, sans-serif;
$title-font: "Bernier", Arial, sans-serif;
$prime: #455a64;
$second: #373e42;
$contrast: #00bfa5;
$white: #ffffff;
$gray: #efeee9;
$beige: #eeebdf;
$milk: #faf8f0;
$border-radius: 5px;
