.welcome 
	h1.visually-hidden Авторизация 
	.welcome__info
		+user("intro")
		include ../modules/socials
	.intro__btn
		a.intro__link(href="works") Мои работы
		a.intro__link(href="about") Обо мне
		a.intro__link(href="blog") Блог