+b.bottle-video-section#video-bottle
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00001.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00003.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00005.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00007.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00009.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00011.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00013.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00015.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00017.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00019.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00021.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00023.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00025.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00027.jpg")
	link(rel="preload" as="image" href="./img/components/bottle-video-section/scene00029.jpg")
	div.bottle-video-section__image(style="background-image: url('./img/components/bottle-video-section/scene00025.jpg')")
