+b.SECTION.certified-products.main__certified-products(data-animate="fadeIn")  
	h2.visually-hidden Информация о сертификации
	+e.container.container(data-animate="fadeInUp")
		+e.title Продукция 
			span.title-mark сертифицирована
		+e.text Подтверждено ассоциацией экспертов «Сибирский федеральный центр оздоровительного питания»
		+e.A.link(href="#") В составе корпуса устройства используется материал