+b.SECTION.eastman-tritan.main__eastman-tritan(data-animate-gorizontal="fadeIn")
	h2.visually-hidden Преимущества используемых материалов
	+e.container.container
		+e.content(data-animate-gorizontal="fadeInLeft")
			+e.subtitle В составе корпуса устройства используется материал
			+e.title.section__title Eastman Tritan™
			+e.text Комплект для регуляции pН воды 100% natural
				+e.text-img
					img(src="./img/components/eastman-tritan/eastman-logo.svg", alt="Eastman Tritan™")
				| Безопасен, не токсичен и обладает свойствами BPA free (не содержит бисфенол-А).                
		+e.image 