+b.SECTION.habit-creating.main__habit-creating(js-animate="fadeIn")
	+e.container.container
		+e.header 
			+e.logo(js-animate="fadeInUp") 
				img(src="./img/components/habit-creating/logo.svg" alt="")
			+e.title(js-animate="fadeInUp") Создай свою полезную привычку
		+e.image(js-animate="fadeInLeft") 
			img(src="./img/components/habit-creating/bottle.png" alt="")
		+e.content
			+e.text(js-animate="fadeInUp") Вы можете заказать Ph Balance Stones только на сайте NL STORE 
			+e.store-logo(js-animate="fadeInUp") 
				img(src="./img/components/habit-creating/store-logo.svg" alt="")
			+e.BUTTON.button.button(js-animate="fadeInUp") ПЕРЕЙТИ НА САЙТ