+b.SECTION.habit-creating.main__habit-creating(data-animate="fadeIn")
	h2.visually-hidden О полезный привычках
	+e.container.container
		+e.header 
			+e.logo(data-animate="fadeInUp") 
				img(src="./img/components/habit-creating/logo.svg" alt="")
			+e.title(data-animate="fadeInUp") Создай свою полезную привычку
		+e.image(data-animate="fadeInLeft") 
			img(src="./img/components/habit-creating/bottle.png" alt="")
		+e.content
			+e.text(data-animate="fadeInUp") Вы можете заказать Ph Balance Stones только на сайте NL STORE 
			+e.store-logo(data-animate="fadeInUp") 
				img(src="./img/components/habit-creating/store-logo.svg" alt="")
			+e.BUTTON.button.button(data-animate="fadeInUp") ПЕРЕЙТИ НА САЙТ