+b.SECTION.nature-saturated.main__nature-saturated
	h2.visually-hidden Природные свойства
	+e.container.container
		+e.image(data-animate="fadeInRight") 
			img(src="./img/components/nature-saturated/saturated-image.png" alt="")
		+e.content(data-animate="fadeInLeft")
			+e.title Насыщено 
				span.title-mark Природой
			+e.text 
				p Природа уникальна – она создала естественный механизм обогащения воды: горная вода движется с вершин и на своем пути взаимодействует с различными минералами.
				p Именно такая вода легко усваивается организмом человека и поддерживает его кислотно-щелочной баланс.
