+b.SECTION.nature-section.main__nature-section#nature-section(data-animate="fadeIn")
	h2.visually-hidden Слоган
	+e.inner(data-animate="zoomIn")
		+e.container.container
			+e.content
				+e.logo
					img(src="./img/icons/nature-logo.svg", alt="Nature")
				+e.text Твоя вода. Твоя жизнь.<br> Твоя осознанность.
