+b.SECTION.recreated-mechanism.main__recreated-mechanism(data-animate="fadeIn")
	h2.visually-hidden Преимущества создания
	+e.container.container(data-animate="fadeInUp")
		+e.title Благодаря взаимно дополняющим свойствам минералы обеспечивают изменение 
			span.title-mark качества и структуры 
			| воды.
			  

