+b.SECTION.recreated-mechanism.main__recreated-mechanism(js-animate="fadeIn")
	+e.container.container(js-animate="fadeInUp")
		+e.title Благодаря взаимно дополняющим свойствам минералы обеспечивают изменение 
			span.title-mark качества и структуры 
			| воды.
			  

