+b.SECTION.recreated-mechanism.main__recreated-mechanism(data-animate="fadeIn")
	h2.visually-hidden Преимущества создания
	+e.container.container(data-animate="fadeInUp") 
		+e.title Нам удалось воссоздать этот механизм и использовать его при создании 
			span.title-mark PH Balance Stones.

