+b.SECTION.video-section#video-section.main__video-section
	h2.visually-hidden Видеоинструкция
	+e.container.container
		+e.title-container 
			+e.title.section__title 
				span.title-mark механизм 
				| Использования              
		+e.video-container  
			+e.video-ratio-wrap
				+e.video-ratio
					+e.video-preview
						+e.BUTTON.video-button(type="button" aria-label="Воспроизвести видео" data-play-video="")
						img(src="./img/components/video-section/video-preview.jpg" alt="")
					+e.video
						//- iframe(src="https://www.youtube.com/embed/DbIOZdOA6HA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen")

