-
	function init(inputData, defaultData) {
		let data = Object.assign({}, {
			'attr': {},
			'class': '',
			'elements': [],
			'params': function() {},
		}, defaultData, inputData);

		data['attributes'] = function(object) {
			object = Object.assign({}, this['attr'], object);
			if (!object['class']) object['class'] = '';
			object['class'] = this['block'] + ' ' + this['class'] + ' ' + object['class'];
			object['class'] = object['class'].replace(/ +/, ' ');
			return object;
		}

		data['elements'].forEach(function(elem){
			if (!data[elem + '-attr']) {
				data[elem + '-attr'] = {}
			}
		})

		data['elem'] = function(name) {
			return this['block'] + name;
		}

		data.params();
		return data
	}

	let menuHeader = [
		{title: 'Для кого и для чего'},
		{title: 'Принцип действия'},
		{title: 'Механизм использования'},
		{title: 'Свойства и выгоды'},
	]

	let mainBannerList = [
		"Для кого и для чего",
		"Принцип	действия",
		"Механизм использования",
		"Свойства и выгоды"
	]		
	
	let infoSectionList = [
		"Кислая или щелочная среда организма",
		"Положительное влияние на организм",
		"Индекс кислотности рациона",
		"Биодоступная вода"
	]		
	
	let stonesList = [
		"Серебро",
		"Цеолит",
		"Шунгит",
		"Магний",
		"Кремень"
	]		

	let instructionSectionList = [		
		"Тщательно промыть картридж с камнями под проточной водой.",
		"Поместить содержимое картриджа в контейнер устройства.",
		"Налить в устройство питьевую воду.",
		"При первом использовании наполнить бутылку водой и оставить на ночь."
	]

	let waterPropertiesList = [
		{ title: "Чистой", text: "Очищают воду от вредных неорганических и органических элементов и примесей."},
		{ title: "Биодоступной", text: "Структурируют воду – нормализуют структуру, вода легко усваивается и дает энергию."},
		{ title: "Минерализованной", text: "Насыщают воду необходимыми человеку макро- и микроэлементами."},
	]

	let waterUsefulnessList = [
		{
			title: "Полезность",
			list: [
				"Замедляет процессы старения.",
				"Восстанавливает защитные функции организма.",
				"Выводит токсины.",
				"Способствует быстрому восстановлению сил после нагрузок.",
				"Источник K, Ca, Mg, Na, Zn.",
				"Важный компонент правильного питания.",			
			],
			btn: 'СОЗДАТЬ ПОЛЕЗНУЮ ПРИВЫЧКУ'			
		},
		{
			title: "Экономичность",
			list: [
				"<p>Сравнение с аналогичным предложением бутилированной воды:</p><p>1 бутылка (0,33 мл) стоит ~ 70 руб.Употребление в день – 3–5 бутылок.Стоимость покупки в месяц: 6 300–10 500 руб.</p>",
				"Длительность использования 1 картриджа составляет полгода.",		
			],
			btn: 'ЭКОНОМИТЬ С ПОЛЬЗОЙ'			
		},
		{
			title: "Экологичность",
			list: [
				"Снижает ущерб от индустрии пластика: 1 бутылка — это 127 кг пластика (3 года).",
				"Tritan NON TOXIC BPA FREE",
				"Материал Eastman Tritan™ используется в составе бутылки и обладает свойствами BPA free.",	
			],
			btn: 'СОХРАНИТЬ ЭКОЛОГИЮ'			
		},
		{
			title: "Эргономичность",
			list: [
				"Удобно взять с собой.",
				"Приятно держать в руке.",
				"Помещается в спортивной сумке.",
				"Устанавливается в подстаканник машины или велосипеда.",
				"Всегда под рукой на офисном столе.",
			],
			btn: 'Купить удобный аксессуар'			
		},
	]
	
