mixin footer-menu(data)
	-
		data = init(data, {
			'title': 'Каталог',
			'list': [
				'Распродажа',
				'Акции',
				'Новинки',
				'Бренды',
				'Окрашивание волос',
				'Профессиональная косметика для волос',
				'Парикмахерский инструмент',
				'Косметология',
				'Средства для маникюра и педикюра',
				'Косметика для визажа',
				'Средства для загара',
				'Материалы для наращивания волос',
				'Средства для бровей и ресниц',
				'Оборудование для салонов красоты',
				'Одноразовые материалы',
				'Пирсинг',
				'Дезинфекция и стерилизация'
			],
		})
	+b.NAV.footer-menu&attributes(attributes)
		+e.title.js-drop-footer-menu !{data['title']}
		+e.UL.list 
			each item in data['list']
				+e.LI.item
					+e.A.link(href='#') !{item}