include ../base-components/logo
include footer-contact-list
include footer-menu
include pay-list

mixin footer(data)
	-
		data = init(data, {
			block: 'footer',
			logo: {
				link: true
			}

		})

	+b&attributes(data.attributes(attributes))
		+e.top
			.global-wrapper
				+e.wrap 
					+logo(data.logo)
					+footer-contact-list()
					+pay-list()
					+footer-menu()
					+footer-menu(footerMenuList)
		+e.bottom
			.global-wrapper
				+e.wrap
					+e.copyright &COPY; 2023 «Модерн»— Косметика и оборудование для профессионалов
					+e.links 
						+e.A.link(href='#') Политика конфиденциальности                    
						+e.A.link(href='#') Договор оферты
					+b.A.mh.footer-bottom__mh(href="" target='_blank')
						span Создание сайтов

