+b.notifications.js-notification-container
	+e.item.js-notification-template
		+e.P.title.js-notification-title
		+b.notification-product.js-notification-product
			+e.wrap 
				+e.IMG.img(src="./img/components/product-card/img-10.jpg" alt="notification")
				+e.content-container 
					+e.title Шампунь Антистресс с экстрактом мальвы 250 мл CD СПА
					+e.cost-wrap 
						+e.cost 6 750 ₽
						+e.stock 2 125,00 ₽
		+e.P.text.js-notification-text
		+e.A.btn.js-notification-btn
