mixin product-tab(data)
	-
		data = init(data, {
			'block': 'product-tab',
			'title': 'Описание',
			'text': 'Semi Di Lino Blonde - светлые и серебристые волосы. Кондиционер Anti-Yellow распутывает волосы и нейтрализует нежелательную желтизну. Оживляет и увлажняет волосы, не утяжеляя их.',
			'list': [
				'С Urban Defense Pro: полная защита от загрязнений. С комплексом Shine Fix: 24-часовое сияние от корней до кончиков.',
				'С комплексом Color Fix: антиоксидант, УФ-фильтр для красивого и стойкого цвета.',
				'С Blue Light Shield: защищает косметический цвет от повреждений, вызванных синим светом.',
				'С восстановлением блондинок: Восстанавливающий, увлажняющий эффект для яркого цвета волос.',
			],
			'title-mini': 'Способ применения',
			'text-2': 'После мытья шампунем, пока волосы влажные, нанесите небольшое количество продукта на длину и кончики. Оставьте на 3 минуты. Расчешите, затем тщательно промойте.'
			
		})
	+b&attributes(data.attributes(attributes))
		+e.wrap 
			+e.title= data.title
			+e.text= data.text
			+e.UL.list
				each item in data.list 
					+e.LI.item= item
			+e.title._mini= data['title-mini'] 
			+e.text= data['text-2']