-
	function init(inputData, defaultData) {
		let data = Object.assign({}, {
			'attr': {},
			'class': '',
			'elements': [],
			'params': function() {},
		}, defaultData, inputData);

		data['attributes'] = function(object) {
			object = Object.assign({}, this['attr'], object);
			if (!object['class']) object['class'] = '';
			object['class'] = this['block'] + ' ' + this['class'] + ' ' + object['class'];
			object['class'] = object['class'].replace(/ +/, ' ');
			return object;
		}

		data['elements'].forEach(function(elem){
			if (!data[elem + '-attr']) {
				data[elem + '-attr'] = {}
			}
		})

		data['elem'] = function(name) {
			return this['block'] + name;
		}

		data.params();
		return data
	}

	let skillsList = [
		{
			icon: 'html5',
			title: 'Html5',
		},
		{
			icon: 'pug',
			title: 'Pug',
		},
		{
			icon: 'css',
			title: 'Css3',
		},
		{
			icon: 'bootstrap',
			title: 'Bootstrap',
		},	
		{
			icon: 'sass',
			title: 'Sass',
		},	
		{
			icon: 'javascript',
			title: 'JS ES5, ES6',
		},
		{
			icon: 'jquery',
			title: 'Jquery',
		},		
		{
			icon: 'rest-api',
			title: 'Rest Api',
		},			
		{
			icon: 'ajax',
			title: 'Ajax',
		},			
		{
			icon: 'gulp',
			title: 'Gulp',
		},
		{
			icon: 'webpack',
			title: 'Webpack',
		},
		{
			icon: 'visual-studio-code',
			title: 'VS-code',
		},
		{
			icon: 'eslint',
			title: 'Eslint',
		},
		{
			icon: 'stylelint',
			title: 'StyleLint',
		},
		{
			icon: 'git',
			title: 'Git',
		},		
		{
			icon: 'react',
			title: 'React',
		},
		{
			icon: 'redux',
			title: 'Redux',
		},		
		{
			icon: 'typescript',
			title: 'Typescript',
		},
		{
			icon: 'figma',
			title: 'Figma',
		},		
	]

	let description = [
		"В верстке мне нравится сам процесс и видимый результат своей работы. Люблю пробовать разные подходы к решению задачи и оптимально использовать свои знания, совмещаю адаптивный и отзывчивый подход. Для сеток и элементов использую grid и flexbox, пробовала табличную верстку в рассылках, библиотеку Bootstrap, но предпочитаю БЭМ нейминг. Стремлюсь к качеству, проверяю свою верстку на валидность и не забываю про доступность. Чтобы мои сайты выглядели хорошо на любом устройстве применяю префиксы, использую доступные в большинстве браузеров свойства, помню о различиях работы свойств на десктопах и мобильных. Для быстроты работы сайта оптимизирую картинки, использую webp, медиазапросы, собираю иконки в спрайты, использую ленивую загрузку, а также собираю все стили и скрипты в один соответствующий файл, знаю про критический CSS и приоритетность загрузки.",
		"JavaScript-ом оживляю страницы, работаю с DOM, фишками ES6, помогающие мне в работе с объектами и массивами. Применяла на сайтах и jQuery с неплохими плагинами для интерактивности. Делала также проекты с динамически генерируемым контентом на чистом js, в которых опробовала паттерн MVC и классы. Чтобы писать код быстрее использую препроцессоры такие как pug и SCSS. Проекты собираю на gulp, или webpack. С репозиториями работаю через git, загружала сайты на GitLab и GitHub.",
		"Более сложные проекты делаю на React, для типизации данных использую TypeScript. Успела застать использование классовых компонентов, сейчас же работаю с функциональными и хуками. Для управления состоянием использую redux и сопутствующие библиотеки, такие как redux-sagas, thunk, toolkit. В проектах личных кабинетов понравилось использовать библиотеку antd. Для стилизации использую импорты файлов в компоненты, знакома также с css-модулями и css-in-js.",
		"Работаю с запросами по архитектуре REST API, для проверки запросов использовала Postman и Swagger, для отправки запросов - Axios, Fetch.",
		"Из редакторов кода и IDE предпочитаю VS code, для форматирования использую ESLint, StylrLint, Prettier. С макетами работаю в Figma, сверяю по Pixel Perfect." 
	]

	let aboutText = [
		"Мне 34 года, разработчик из Рязани. В веб-разработке я уже 3,5 года. За это время успела поработать в двух компаниях. Занималась версткой лэндингов, многостраничных сайтов, разработкой личных кабинетов пользователей. Над проектами работала в команде по Scrum с ежедневными скрам-митингами и по Kanban. Работала как над новыми разработками, так и над добавлением функциональности в уже существующие.",
		"Стараюсь как можно быстрее адаптироваться к стрессовым ситуациям. Использую планеры для организации и структурирования своей деятельности. Являюсь общительным, позитивно настроенным, целеустремленным человеком и ответственно подхожу к выполнению задач, укладываюсь в сроки, чему не мешает разумный перфекционизм.",
		"Свободное время люблю проводить с пользой. Нравится посещать интересные выставки, фестивали. Люблю активный отдых, сноуборд, велопоездки, лыжные прогулки, поездки выходного дня. Вдохновляюсь красотой и гармонией природы, произведениями современного искусства."
	]

	let worksList = [
		{
			title: 'Лендинг Портфолио',
			img: 'work-7',
			tech: 'HTML5, CSS3, Pug, SCSS, JS, Gulp, EsLint, StyleLint',
			href: "#"
		},
		{
			title: 'Интернет-магазин косметических средств',
			img: 'work-1',
			tech: 'HTML5, CSS3, Pug, SCSS, JQuery, JS ES6, Gulp, EsLint',
			href: "https://mikalaw.github.io/Shop-verstka/dist/"
		},
		{
			title: 'Лендинг Water',
			img: 'work-4',
			tech: 'HTML5, CSS3, Pug, SCSS, JQuery, Gulp, EsLint, StyleLint',
			href: "https://mikalaw.github.io/Landing/app/"
		},
		{
			title: 'Лендинг на Bootstrap',
			img: 'work-8',
			tech: 'HTML5, CSS3, Pug, SCSS, JQuery, Gulp, EsLint, Bootstrap',
			href: "https://mikalaw.github.io/Bootstrap/dist/"
		},
		{
			title: 'Проект "Киноман"',
			img: 'work-5',
			tech: 'HTML5, CSS3, JS, React, Redux, Typecript, Rest Api, Axios, Async/Await',
			href: "https://mikalaw.github.io/React-film/build/"
		},
		{
			title: 'Проект "Меломан" - сборник альбомов',
			img: 'work-3',
			tech: 'HTML, CSS, JS ES6, MVC, Webpack, EsLint, Rest Api, Fetch, Async/Await',
			href: "https://mikalaw.github.io/Javascript/build/"
		},
		{
			title: 'Личный кабинет',
			img: 'work-6',
			tech: 'HTML5, CSS3, JS, React, Redux, Typecript, Rest Api, Axios, Async/Await, Antd',
			href: "https://mikalaw.github.io/React-lk/build/"
		},
		{
			title: 'Email рассылка',
			img: 'work-2',
			tech: 'HTML, CSS',
			href: "https://mikalaw.github.io/Email/"
		},

	]
