.CatsPage{
    padding: 48px 0;
}

.CatsPage__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -48px;
    justify-content: center;
}


.CatsPage__list .loader{
    width: 100%;
    display: flex;
    justify-content: center;
}