.footer {
  background: $second;
  color: $white;
}

.footer__top,
.footer__bottom {
  padding: 10px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablets {
      flex-direction: column;
    }
  }
  @include tablets {
    padding: 20px 0;
  }
}

.footer__top {
  border: 1px solid rgba($white, 0.1);
  .social__item {
    margin-right: 8px;
  }
  .social__link {
    border-radius: 50%;
    border: 1px solid $white;
    background: transparent;
    width: 40px;
    height: 40px;
    &:hover,
    &:active,
    &:focus {
      background: $white;
      .social__icon {
        fill: $second;
      }
    }
  }
  .social__icon {
    width: 24px;
    height: 16px;
  }
}

.footer__bottom {
  font-size: 16px;
  font-weight: 300;
  color: rgba($white, 0.5);
}

.footer__bottom-left {
  flex: 1 1 60%;
  @include tablets {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 16px;
  }
}

.footer__bottom-right {
  text-align: right;
  flex: 1 1 40%;
  @include tablets {
    flex: 1 1 100%;
    text-align: center;
  }
}

.footer__menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__menu-item {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
  @include tablets {
    margin-bottom: 10px;
  }
}

.footer__menu-link {
  color: inherit;
  transition: 0.3s ease-in-out;
  &:hover,
  &:active,
  &:focus {
    color: $contrast;
  }
}
