.works__slider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  @include tablets {
    height: auto;
  }
}

.slider__title {
  margin-bottom: 29px;
}

.slider__desc {
  width: 50%;
  background: #f0efe9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8%;
  height: 100%;
  @include tablets {
    width: 100%;
  }
}

.slider__info {
  width: 100%;
  text-align: center;
}

.slider__tech {
  border-top: 1px solid $contrast;
  border-bottom: 1px solid $contrast;
  color: $contrast;
  padding: 14px 0;
  text-align: center;
  margin-bottom: 40px;
}

.slider__btn {
  border-radius: $border-radius;
  background-color: $contrast;
  color: $white;
  display: inline-flex;
  border: 0;
  padding: 12px 18px;
  transition: background-color 0.3s ease-in-out;
  &:hover,
  &:active {
    background-color: darken($contrast, 10%);
  }
}

.slider__btn-icon {
  width: 20px;
  height: 19px;
  display: block;
  margin-right: 12px;
  fill: #fff;
}

.slider__review {
  width: 50%;
  height: 66vh;
  background: #efebe0;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablets {
    width: 100%;
    height: auto;
    order: -1;
    padding: 6%;
  }
}

.slider__review-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.slider__controls {
  width: 50%;
  display: flex;
  height: 34vh;
  @include tablets {
    width: 100%;
    height: auto;
  }
}

.slider__controls-left,
.slider__controls-right {
  flex: 1 1 50%;
  position: relative;
  border-right: 2px solid #cac9c4;
  &:hover,
  &:active,
  &:focus {
    .slider__controls-btn {
      background: rgba(#888372, 0.5);
    }
  }
}
.slider__controls-left {
  .slider__controls-pic {
    top: -100%;
  }
}
.slider__controls-right {
  border-right: none;
  .slider__controls-pic {
    top: 100%;
  }
}

.slider__controls-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.slider__controls-btn {
  border: 0;
  padding: 0;
  background: rgba(#b5b4ae, 0.7);
  position: relative;
  width: 100%;
  height: 100%;
  padding: 25% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.slider__controls-icon {
  width: 45px;
  height: 28px;
  fill: #fff;
}

.slider__controls-works {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider__controls-pic {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1ede1;
  padding: 12px;
  &.active {
    top: 0;
  }
}
