.social__list {
  display: flex;
  align-items: center;
  padding: 7px 0;
}

.social__item {
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-self: center;
  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}

.social__icon {
  width: 32px;
  height: 22px;
  fill: $white;
  transition: 0.3s ease-in-out;
}
