section.hero 
    include ../components/header            
    .hero__content
        .container 
            .hero__head.animate__animated.animate__fadeIn
                .hero__subtitle Creative Template
                h1.hero__title Welcome to MoGo
            a.hero__btn.animate__animated.animate__fadeIn(href="#") Learn more
