-   
    var servicesItems = [
        {icon: "services-picture", title:"Photography", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},     
        {icon: "services-equalizer", title:"Creativity", text:"Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."},  
        {icon: "services-bullseye", title:"Web Design", text:"Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"},  
    ];

section.services#service
    .container 
        .services__head.wow.animate__fadeInUp(data-wow-duration="1.2s")  
            +sectionTitle("Service", "what we do", "services__title")
            .section__desc.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat.         
        .services__content
            .services__pic.wow.animate__fadeInLeft(data-wow-duration="1.2s")  
                img.section__img(src="./img/services-1.jpg", alt="Человек вешает распечатанное фото на стену")
            ul.servises__list.wow.animate__fadeInRight(data-wow-duration="1.2s")  
                each servicesItem in servicesItems
                    li.servises__item
                        button.services__btn
                            svg.services__icon
                                use(xlink:href=`./img/sprite.svg#${servicesItem.icon}`)
                            .services__name= servicesItem.title
                            svg.services__arrow
                                use(xlink:href=`./img/sprite.svg#arrow-down`)
                        .services__info 
                            .services__text= servicesItem.text
                