section.unique
    .container 
        +sectionTitle("For all devices", "Unique design", "unique__title")
        .unique__pic 
            img.section__img(src="./img/unique-1.png", alt="Изображение сайта на планшете") 
            .unique__pic-phone
                img.section__img(src="./img/unique-2.png", alt="Изображение сайта на телефоне")