@media screen and (max-width:992px) {
    .container {
        max-width: 720px;
    }
    .nav-link {
        line-height: 1.4;
        padding: 12px 12px 12px 15px!important;
        color: #515769!important;
        &:after {
            top: 19px;
        }
    }
    .navbar {
        background: #fff;
    }
    .logo-img-dark {
        display: block;
    }
    .logo-img-main {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .card-revers {
        flex-direction: column;
    }
    .section-card__p-1 {
        padding: 15px;
    }
}
@media screen and (max-width:480px) {
    .slide-content__title {
        font-size: 3em;
    }
}