@mixin btn_icon_eye() {
  background-image: icon-eye();
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
@mixin btn_icon_eye-cross() {
  background-image: icon-eye();
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.input-password {
  position: relative;
  width: 100%;
}

.input-password__input {
  &[type='password'] + .input-password__visibility-btn {
    @include btn_icon_eye();
  }
  &[type='text'] + .input-password__visibility-btn {
    @include btn_icon_eye-cross();
  }
}

.input-password__visibility-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;

  &_icon_eye {
    @include btn_icon_eye();
  }
  &_icon_eye-cross {
    @include btn_icon_eye-cross();
  }
}
