.logo {
  width: 123px;
  height: 23px;
  flex-shrink: 0;
  display: block;
  text-decoration: none;
  @include media-min($media-xs) {
    width: 172px;
    height: 32px;
  }
}
.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
