@font-face {
    font-family: 'Lifehack Medium';
    src: url('../fonts/Lifehack-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lifehack-Medium.woff2') format('woff2'),
         url('../fonts/Lifehack-Medium.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src:  url('../fonts/Ubuntu-B.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Ubuntu-B.woff2') format('woff2'),
          url('../fonts/Ubuntu-B.ttf') format('truetype');                 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Light';
    src:  url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Ubuntu-Light.woff2') format('woff2'),
          url('../fonts/Ubuntu-Light.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src:  url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
          url('../fonts/Ubuntu-Medium.ttf') format('truetype');                  
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Regular';
    src:  url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
          url('../fonts/Ubuntu-Regular.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin Regular';
    src:  url('../fonts/Gagalin-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Gagalin-Regular.woff2') format('woff2'),
          url('../fonts/Gagalin-Regular.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@mixin Ubuntu($style: regular) {
  font-family: 'Ubuntu Regular';

  @if $style == bold {
    font-family: 'Ubuntu Bold';
  }

  @if $style == light {
    font-family: 'Ubuntu Light';
  }

  @if $style == medium {
    font-family: 'Ubuntu Medium';
  }
}