@mixin inlineblock($valign: top){
	display: inline-block;
	vertical-align: $valign;
}

@mixin inlinehack($val){
	font-size: 0;
	* {
		font-size: $val;
	}
}

@mixin float($width){
	float: left;
	width: $width;
}

@mixin pos($pos){
	top: 50%;
	transform: translateY(-50%);
	position: ($pos);
}

@mixin pic(){
	max-width: 100%;
	height: auto;
	display: block;
}

%clearfix{
	&:after, &:before {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

