script(src='libs/jquery-3.6.0.min.js')
script(src='libs/jquery.fancybox.min.js')
script(src='libs/readmore.min.js')
script(src='libs/slick/slick.min.js')
script(src='libs/jquery-ui.min.js')
script(src='libs/jquery.ui.touch-punch.min.js')
script(src='libs/priorityPlus/priority-plus.js')
script(src='libs/jquery.inputmask.min.js')
script(src='libs/jquery.validate.min.js')
script(src='js/app.js')
script(src='js/init.js')


