.tab.item.item_cardItem.item_cardItem_reverse
	.item__img-container
		.tab__content.tab__content_active
			.item__slider
				img(src='img/audi-brown.jpg')
				img(src='img/audi-brown.jpg')
				img(src='img/audi-brown.jpg')
				img(src='img/audi-brown.jpg')
		.tab__content
			.item__slider
				img(src='img/audi-creme.jpg')
				img(src='img/audi-creme.jpg')
				img(src='img/audi-creme.jpg')
				img(src='img/audi-creme.jpg')
		.tab__content
			.item__slider
				img(src='img/audi-red.jpg')
				img(src='img/audi-red.jpg')
				img(src='img/audi-red.jpg')
				img(src='img/audi-red.jpg')
		.tab__content
			.item__slider
				img(src='img/audi-grey.jpg')
				img(src='img/audi-grey.jpg')
				img(src='img/audi-grey.jpg')
				img(src='img/audi-grey.jpg')
	.item__content
		.item__content-inner
			.item__tag.item__tag_danger
				span Под заказ
			.item__name Комплект для Lexus GX460
			.item__oldPrice 30 000 р.
			.item__price 25 000 р.
			.item__togglers
				.item__togglersTitle Цвета
				.item__tabsContainer.tab_indexChecker
					button.tab__toggle.tab__toggle_active.item__togglersItem.item__togglersItem_black
					button.tab__toggle.item__togglersItem.item__togglersItem_creme
					button.tab__toggle.item__togglersItem.item__togglersItem_red
					button.tab__toggle.item__togglersItem.item__togglersItem_brown
			ul.item__list
				li Водительский коврик
				li Пассажирский коврик 
				li Сменяемый подпятник х2
				li 3D накладка на педаль отдыха
				li Задние коврики 
				li Перемычка между задними ковриками
				li Высококачественная эко-кожа
				li Выбор цвета коврика
				li Выбор цвета окантовки
			button.button.fn-isv-modlink(data-content="#order") Оформить заказ