.catalogMenu__toggler Каталог

.catalogMenu__title.section__title Каталог

ul.catalogMenu
	li.catalogMenu__item
		a(href="#").catalogMenu__link Межпланетные корабли
	li.catalogMenu__item
		a(href="#").catalogMenu__link Межзвездные корабли

	li.catalogMenu__item
		a(href="#").catalogMenu__link Космические мусоросборники

	li.catalogMenu__item
		a(href="#").catalogMenu__link Орбитальные станции

	li.catalogMenu__item
		a(href="#").catalogMenu__link Космические автономные лаборатории

	li.catalogMenu__item
		a(href="#").catalogMenu__link Звезды смерти

	li.catalogMenu__item
		a(href="#").catalogMenu__link Прочие космические судна
		ul.catalogMenu_sub
			li.catalogMenu__item
				a(href="#").catalogMenu__link Звезды смерти
			li.catalogMenu__item
				a(href="#").catalogMenu__link Космические мусоросборники
			li.catalogMenu__item
				a(href="#").catalogMenu__link Орбитальные станции
			li.catalogMenu__item
				a(href="#").catalogMenu__link Космические автономные
			li.catalogMenu__item
				a(href="#").catalogMenu__link лаборатории