.orders {
  &.aptekaru {
    padding: 8px;
    border: 0;

    .orders__grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 12px;

      @include media-min($media-lg) {
        grid-template-columns: repeat(7, 1fr);
      }
    }

    &.dropdown {
      overflow: visible;
      .dropdown__top-wrap {
        display: flex;
        justify-content: space-between;
        gap: 12px;
      }

      .dropdown__more {
        align-self: flex-end;
        position: static;
        flex-shrink: 0;
      }

      .dropdown__top {
        flex-grow: 1;
      }

      .dropdown__bottom {
        width: 100%;
        left: 0;
        padding: 4px 40px 8px 8px;
        background: $color-white;
        border: 0;
        border-radius: 4px;
        &:after {
          content: none;
        }
        &:before {
          background: $color-white;
        }

        .orders__grid {
          flex-grow: 1;
        }
      }
    }
    &.open {
      border-radius: 4px 4px 0 0;

      .dropdown__bottom {
        border-radius: 0 0 4px 4px;
      }
    }
  }

  &.order {
    .orders__grid-item {
      &:first-child {
        @include media-min($media-lg) {
          order: 1;
        }
      }
      &:nth-child(2) {
        @include media-min($media-lg) {
          order: 3;
        }
      }
      &:nth-child(3) {
        @include media-min($media-lg) {
          order: 5;
        }
      }
      &:nth-child(4) {
        @include media-min($media-lg) {
          order: 7;
        }
      }
      &:nth-child(5) {
        @include media-min($media-lg) {
          order: 2;
        }
      }

      &:nth-child(6) {
        @include media-min($media-lg) {
          order: 4;
        }
      }

      &:nth-child(7) {
        @include media-min($media-lg) {
          order: 6;
        }
      }
    }
  }
}

.orders__title {
  margin-bottom: 15px;
}

.orders__skeleton {
  .ant-skeleton {
    padding: 3px 6px;
    display: block;
    width: 100%;
    border: 1px solid $color-content-branded;
    border-radius: 4px;
  }

  .ant-skeleton-input {
    display: block;
    width: 100%;
    height: 22px;
  }
}

.orders__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4px 10px;

  @include media-min($media-lg) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px 20px;
  }
}

.orders__grid-item {

}

.orders__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 6px;
  border: 1px solid $color-content-branded;
  border-radius: 4px;
  color: $color-black;
  transition: $transition;
  cursor: pointer;
  background-color: $color-white;

  &:hover {
    background-color: $color-hover;
  }

  &.active {
    color: $color-text-1;
    border-color: $color-text-3;
    background-color: $color-hover;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.orders__status {

}

.orders__number {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}