.contact__card {
    margin-bottom: 30px;
}
.contact-card__item {
    color: #81848f;
    margin-bottom: 10px;
    font-family: 'Hind Medium',  sans-serif;
    i {
    	color: #17bed2;
    	vertical-align: middle;
    }
}
.map {
    margin-top: 120px;
    height: 300px !important;
    width: 100%}