.onepage-pagination {
  position: fixed;
  right: 60px;
  top: 50%;
  z-index: 5;
}

.onepage-pagination li {
  a {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: $white-color;
    border-radius: 50%;
    position: relative;
    transition: 0.3s;

    &:hover,
    &:active {
      background: $title-color;
    }

    &.active {
      background: $title-color;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid $title-color;
        transform: translate(-6px, -6px);
      }
    }
  }
}
