@font-face {
    font-family: 'Peace Sans';
    src: url('../fonts/peace_sans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/peace_sans.woff') format('woff'),
         url('../fonts/peace_sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}