doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        block title
        meta(content="Пример многостраничного сайта" name="author")
        meta(content="Сайт-портфолио" name="description")
        meta(content="Пример многостраничного сайта" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="IE=edge" http-equiv="X-UA-Compatible" )
        include components/favicon     

    body
        block content
        