-   
    var accoItems = [
        {title:"Сколько по времени курьер доставляет заказ? ",class:"",text1: "В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.",text2:"В допетровской России рассыльные (гонцы) были служилыми людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почту — дипкурьерами."},
        {title:"Если курьер опоздал, будут ли какие то бонусы?",class:"",text1: "В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.",text2:"В допетровской России рассыльные (гонцы) были служилыми людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почту — дипкурьерами."},
        {title:"Добавляете ли вы какие либо консерванты в вашу продукцию?",class:"",text1: "В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.",text2:"В допетровской России рассыльные (гонцы) были служилыми людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почту — дипкурьерами."},
        {title:"Как долго готовиться у вас индивидуальный торт?",class:"",text1: "В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.",text2:"В допетровской России рассыльные (гонцы) были служилыми людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почту — дипкурьерами."}
    ]
section.faqs
    .container
        h2.section__title.faqs__title.wow.animate__animated.animate__fadeIn(data-wow-duration="0.9s" data-wow-delay="0s") Часто задаваемые вопросы
        ol.acco.wow.animate__animated.animate__fadeIn(data-wow-duration="0.9s" data-wow-delay="0.3s")
            each accoItem in accoItems
                li(class=`acco__item ${accoItem.class}`)
                    a.acco__trigger(role="button", href="#")
                        h3.acco__trigger-title= accoItem.title
                    .acco__content
                        .acco__content-text.section__text
                            p= accoItem.text1
                            p= accoItem.text2
