.header {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}

.page__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}