+b.FOOTER.footer.page__footer(data-animate="fadeIn")
	+e.container.container
		+e.top 
			+e.A.logo(href="#")
				img(src="https://nlstatic-a.akamaihd.net/nlstar/landings/true-water/img/components/footer/footer-logo.svg" alt="")
			+e.text-wrapper
				+e.text Производитель: АО Научно-производственная фирма «Новь», Россия, 630004, Новосибирская обл., г. Новосибирск, ул. Ленина, д. 28, этаж 1. Адрес производства: Россия, 630003, Новосибирская обл., г. Новосибирск, ул. Владимировская, д. 1а.
				+e.text Организация уполномоченная на принятие претензий от потребителей: Россия, 630099, г. Новосибирск, ул. Ядринцевская, д. 53/1, оф. 1015. Телефон горячей линии: 8-800-2500-800.
		+e.bottom
			+e.copyright © NL International 2000—2020