include main-menu 
include logo 

+b.HEADER.header.page__header(data-animate="fadeIn")
	+e.container.container
		+logo().header__logo
		+e.burger-btn.burger-btn 
		+main-menu(menuHeader).header__main-menu

