div(style='display: none;')
	+b.modal-block.page__modal#modal-1
		+e.title Кислая или щелочная среда организма
		+e.content.user-typography
			p Человек – единая биологическая система. Ежеминутно, ежесекундно в&nbsp;нас рождаются и&nbsp;умирают миллиарды клеток, они&nbsp;постоянно 
				| обновляются. Все эти процессы абсолютно невозможны без&nbsp;кислорода, воды и&nbsp;водорода. Организм человека состоит на 80 % из&nbsp;воды.
			p pН определяется количественным отношением в&nbsp;воде ионов Н+ и&nbsp;гидроксид-ионов ОН-. Водородный показатель – важный фактор общего
				| состояния. В&nbsp;норме его содержание в&nbsp;плазме крови должно находиться в&nbsp;пределах 7,37–7,43 единиц. Снижение показателя может
				| привести к невосстанавливаемым повреждениям систем человеческого тела, вплоть до&nbsp;их&nbsp;остановки.
			p щелочная вода
			p Кислая среда – среда с&nbsp;высоким содержанием фосфора, серы, хлора и/или&nbsp;низким содержанием калия, магния
				| или&nbsp;кальция.<br>Щелочная среда – среда с&nbsp;высоким содержанием калия, магния или&nbsp;кальция и/или&nbsp;низким содержанием
				| фосфора, серы, хлора.
			p Все процессы и&nbsp;действия организма и&nbsp;его систем направлены на&nbsp;поддержание кислотно-щелочного баланса посредством выведения
				| из него кислых остатков из&nbsp;тканей и&nbsp;клеток. Во время таких процессов для&nbsp;повышения щелочного уровня системы используют
				| кальций и&nbsp;другие минералы из тканей и&nbsp;костей, что может негативно сказаться на&nbsp;состоянии здоровья. Поэтому важно
				| контролировать уровень pH в&nbsp;организме, а&nbsp;также регулярно насыщать его важными минералами: калием, магнием, кальцием.
			p Употребление воды с&nbsp;показателем pH свыше 7,5 запускает в&nbsp;организме процессы для балансировки уровней кислоты и&nbsp;щелочи.
				| То&nbsp;есть благодаря употреблению щелочной воды они&nbsp;начинают нормализоваться, не&nbsp;привлекая остальные жизненно важные системы.
		+e.arrows
			+e.BUTTON.arrow-prev(type="button" aria-label="Предыдущий слайд" data-fancybox-prev="")
			+e.BUTTON.arrow-next(type="button" aria-label="Следующий слайд" data-fancybox-next="")
	+b.modal-block.page__modal#modal-2
		+e.title Положительное влияние PH Balance Stones на организм человека
		+e.content.user-typography
			p Человеку необходимо пить примерно 30&nbsp;мл чистой воды на&nbsp;1&nbsp;кг веса в&nbsp;день.
			p Наука уверяет: жидкость, которую можно пить с&nbsp;пользой для себя, должна быть такой же, какой она присутствует в&nbsp;здоровом теле.
				| Первоочередную роль в&nbsp;поддержании здоровья, молодости, красоты и&nbsp;долголетия играет кислотно-щелочной баланс. Речь идет
				| о&nbsp;соотношении кислот и&nbsp;щелочей в&nbsp;жидких средах. Показателем служит количество водорода – pH. Нормальным его содержанием
				| в&nbsp;человеческой крови считается отметка в 7,45. Отклонение в&nbsp;меньшую сторону дает повышение кислотности, в&nbsp;противоположную –
				| увеличение щелочи. Виной дисбаланса кислотно-щелочного соотношения справедливо называют нездоровую пищу и… нездоровое питье, стрессы
				| и&nbsp;плохую экологию
			p Установить требуемое равновесие можно с&nbsp;помощью питьевой щелочной воды! Так как вода является главным структурным элементом				
				| организма. Она восстанавливает слабощелочное состояние жидких сред организма, приводя их в&nbsp;норму.
			p Устройство PH BALANCE STONES за 20 минут:
			ol
				li Нормализует показатель pH воды.
				li Структурирует воду.
				li Придает воде отрицательный заряд.
				li Фильтрует и&nbsp;насыщает воду минералами.
			p Такая вода – TRUE WATER – легко усваивается и&nbsp;влияет на&nbsp;эффективность энергообмена клеток организма. Благотворным результатом
				| постоянного ее применения становятся:
			ul
				li - нормализация pH организма на&nbsp;клеточном уровне,
				li - замедление процессов старения,
				li - восстановление защитных свойств организма,
				li - выведение токсинов,
				li - быстрое восстановление после нагрузок,
				li - источник K, Ca, Mg, Na, Zn,
				li - укрепление иммунитета.

			p Польза от&nbsp;такой воды проявляется в&nbsp;том, что исчезает отечность, восстанавливается деятельность пищеварительной системы,
				| улучшается память, поднимается работоспособность, нормализуется вес. Щелочная вода – не&nbsp;лекарство, но&nbsp;усиливает действие БАД,
				| витаминов. Вкусовые, питьевые и&nbsp;полезные ее свойства обусловлены согласием с&nbsp;природой, она легко войдет в&nbsp;рацион, обогатив
				| и&nbsp;улучшив питание.
		+e.arrows
			+e.BUTTON.arrow-prev(type="button" aria-label="Предыдущий слайд" data-fancybox-prev="")
			+e.BUTTON.arrow-next(type="button" aria-label="Следующий слайд" data-fancybox-next="")
	+b.modal-block.page__modal#modal-3
		+e.title Рацион питания и индекс кислотности рациона
		+e.content.user-typography
			img(src="./img/components/user-typography/acidity-table.jpg" alt="")
			p Разные продукты имеют разное соотношение минеральных веществ кислотного и&nbsp;щелочного характера. Условно все продукты можно разделить
				| на&nbsp;кислые и&nbsp;щелочные.
			p Кислотность продуктов: 1–6 – кислые, 7 – нейтральные, 8–10 – щелочные.<br>Щелочных продуктов в&nbsp;рационе питания должно быть
				| в&nbsp;2–3 раза больше, чем кислотосодержащих продуктов. Ели потреблять слишком кислую пищу и&nbsp;мало щелочных минералов,
				| то&nbsp;организм начинает использовать минеральные запасы для поддержания pH. Это создает дефицит необходимых минералов, появляются
				| проблемы со&nbsp;здоровьем.
		+e.arrows
			+e.BUTTON.arrow-prev(type="button" aria-label="Предыдущий слайд" data-fancybox-prev="")
			+e.BUTTON.arrow-next(type="button" aria-label="Следующий слайд" data-fancybox-next="")
	+b.modal-block.page__modal#modal-4
		+e.title Биодоступная вода
		+e.content.user-typography
			p Современный рынок питьевой воды полон предложений от&nbsp;производителей. В&nbsp;основном потребителю предлагают купить фильтрованную
				| и&nbsp;минерализованную воду, которая, по&nbsp;сути, не&nbsp;является биодоступной. Это обусловлено тем, что ее&nbsp;показатели отличаются
				| от&nbsp;показателей воды, содержащейся в&nbsp;человеческом организме. Регулярное потребление такой воды приводит к&nbsp;тому, что
				| организму приходится осуществлять ее&nbsp;колоссальную доработку, на&nbsp;которую он&nbsp;тратит много энергии.
			p Биодоступная вода усваивается нашим организмом моментально. Она способна в&nbsp;полной мере напитать его, доставив питательные вещества
				| в&nbsp;клетку. Для того чтобы воду можно было назвать биодоступной, она&nbsp;должна быть:
			ul
				li - структурированной,
				li - щелочной,
				li - иметь отрицательный заряд.
			p Структура воды представляет собой кристаллическую взаимосвязь и&nbsp;взаимодействие между ее&nbsp;молекулами. Проще говоря,
				| это&nbsp;организация ее молекул. Они объединяются между собой в&nbsp;группы (или, как их еще называют, кластеры). Кластер может
				| существовать долгое время, благодаря чему вода, будучи хранителем структуры, несет в&nbsp;себе информацию.
			p Сохранность структуры положительно влияет на&nbsp;полезные свойства воды. Стоит отметить, что это успешно применяют на&nbsp;практике.
				| Так, полив растений структурированной водой сокращает сроки созревания плодов в&nbsp;несколько раз. Более того, благодаря
				| ее&nbsp;применению можно увеличить количество содержащихся в&nbsp;них полезных элементов и&nbsp;растительного белка!
			p Структурированная вода содержится в&nbsp;целом фрукте: после того как его надрезают, она&nbsp;становится неструктурированной. Здоровые
				| внутренние органы насыщены структурированной водой, больные – неструктурированной. При&nbsp;беременности плод окружает структурированная
				| вода.
			p Все это говорит о&nbsp;том, что любой живой организм на&nbsp;земле структурирован и&nbsp;в&nbsp;процессе своей жизнедеятельности
				| стремится структурировать потребляемую воду. Именно поэтому потребление «разрушенной», неструктурированной воды приводит к&nbsp;затратам
				| энергии и&nbsp;ресурсов организма на&nbsp;ее приведение в&nbsp;желаемую структуру.
			p Показатель рН человеческого организма отражает его кислотно-щелочное соотношение. На&nbsp;его значение свое влияние оказывает соотношение
				| между отрицательными и&nbsp;положительными частицами. Человек рождается с&nbsp;показателем pH 7,4. Его же имеют все жидкости нашего
				| организма: слюна, кровь, жидкость вне клеток. Баланс обеспечивает не&nbsp;только эффективную деятельность иммунной системы,
				| но&nbsp;и&nbsp;рождение поколения здоровых клеток.
			p Нарушенный кислотно-щелочной баланс организма у&nbsp;большинства людей проявляется в&nbsp;виде повышенной кислотности. В&nbsp;этом
				| состоянии организм плохо усваивает такие минералы, как кальций, натрий, калий и&nbsp;магний. От&nbsp;недостатка минералов страдают
				| жизненно важные органы. Постоянный избыток кислоты внутри организма ведет к&nbsp;разъеданию тканей. Закисленность вызывает головные боли,
				| тревожность, бессонницу, задержку жидкости в&nbsp;организме, мышечную слабость.
			p При этом не стоит забывать о&nbsp;том, что любая пища и&nbsp;питье имеют следующие показатели рН:
			ul
				li 5.5‒6.0 — бутилированная вода;
				li 4.5‒5.0 — соки в&nbsp;пакетах;
				li 2.5‒3.0 — отравленные лимонной кислотой, газировки, шипучие напитки;
				li 6.5‒7.0 — морепродукты;
				li 4.8‒6.4 — сыр.
			p Частое потребление газированных напитков и&nbsp;продуктов, имеющих высокие показатели кислотности, приводит к&nbsp;скоплению
				| в&nbsp;организме избыточного количества кислоты, что&nbsp;является причиной ослабления иммунной системы. Кислая среда идеально подходит
				| для размножения вирусов, бактерий, грибков и&nbsp;паразитов. Для того чтобы нормализовать кислотно-щелочной баланс, организм использует
				| запасы щелочных минералов: кальция, натрия, магния, калия, которые находятся в&nbsp;костях. Постепенно эти резервы истощаются,
				| что&nbsp;приводит к&nbsp;появлению мышечных судорог, болей в&nbsp;сердце, расслоению ногтевых пластин и&nbsp;крошению зубов. Для того
				| чтобы исключить возможность возникновения подобных симптомов, нужно пить такую воду, рН которой максимально приближен к&nbsp;рН организма.
				| Такой подход позволит быстро восстановить баланс рН в&nbsp;организме и&nbsp;исключит истощение его резервов.
			p ОВП – что это такое?
			p Если говорить буквально, то ОВП – это окислительно-восстановительный потенциал. Во главе угла тут стоит активность электронов, которые
				| принимают участие в&nbsp;реакциях, происходящих в&nbsp;жидкой среде. Так, показателем ОВП человеческого организма считают
				| от&nbsp;-100&nbsp;мВ до&nbsp;-200&nbsp;мВ (эксперимент проводился на&nbsp;специальном платиновом электроде), а&nbsp;вот ОВП обычной
				| питьевой воды при этом совсем другой – от&nbsp;+200&nbsp;мВ до&nbsp;+300&nbsp;мВ. В&nbsp;некоторых случаях показатель доходит
				| до&nbsp;+500&nbsp;мВ.
			p Электроны организма человека гораздо активнее, чем&nbsp;электроны питьевой воды. Это значит лишь одно: человек должен расходовать много
				| жизненной энергии (собственных электронов) на&nbsp;процесс коррекции электронов воды, а&nbsp;это неправильно. От&nbsp;непосредственной
				| активности электронов зависит очень много:
			ul
				li — накопление энергии в&nbsp;организме,
				li — генные процессы,
				li — общее потребление и&nbsp;использование человеком энергии,
				li — контроль процессов биохимического типа,
				li — правильность функционирования ферментативных систем.
			p Вода с&nbsp;ОВП, который отличается от&nbsp;характерного для организма человека, проникает в&nbsp;организм, окисляя ткани и&nbsp;тем
				| самым оказывая разрушительное воздействие. Окисление способствует разрушению мембран клеток, деструкции нуклеиновых кислот, а&nbsp;если
				| укрупнить воздействие, то&nbsp;можно увидеть, что&nbsp;организм стареет, тело быстрее изнашивается.
			p Важно знать и&nbsp;такой факт: если ОВП жидкости, которую употребляет с&nbsp;едой и&nbsp;питьем человек, будет ниже его собственного ОВП,
				| это приведет к&nbsp; прекрасному результату. Организм будет работать на&nbsp;резервирование собственных сил, на создание своего рода щита
				| от&nbsp;болезней и&nbsp;агрессивных воздействий окружающей среды.
		+e.arrows
			+e.BUTTON.arrow-prev(type="button" aria-label="Предыдущий слайд" data-fancybox-prev="")
			+e.BUTTON.arrow-next(type="button" aria-label="Следующий слайд" data-fancybox-next="")
	+b.modal-block.page__modal#stone-modal-1
		+e.title Серебро
		+e.content
			+b.stones-info
				+e.text
					p Обладает бактерицидными, противовирусными свойствами, оказывает противогрибковое, антисептическое действие, убивает микробы в 40 раз эффективнее, чем антибиотики.
				+e.image
					img(src="./img/components/stone-info/image-1.png" alt="")
		+e.arrows
			+e.BUTTON.arrow-prev(type="button" aria-label="Предыдущий слайд" data-fancybox-prev="")
			+e.BUTTON.arrow-next(type="button" aria-label="Следующий слайд" data-fancybox-next="")
	+b.modal-block.page__modal#stone-modal-2
		+e.title Цеолит
		+e.content
			+b.stones-info
				+e.text
					p Фильтрует воду от&nbsp;вредных веществ, насыщает воду минералами, нормализует показатель кислотности pH, запускает в&nbsp;организме
						|процессы восстановления.
				+e.image
					img(src="./img/components/stone-info/image-2.png" alt="")
		+e.arrows
			+e.BUTTON.arrow-prev(type="button" aria-label="Предыдущий слайд" data-fancybox-prev="")
			+e.BUTTON.arrow-next(type="button" aria-label="Следующий слайд" data-fancybox-next="")
	+b.modal-block.page__modal#stone-modal-3
		+e.title Шунгит
		+e.content
			+b.stones-info
				+e.text
					p Очищает воду от тяжелых металлов, пестицидов, вирусов, бактерий, преобразует воду: она становится близка к структуре воды живой клетки.
				+e.image
					img(src="./img/components/stone-info/image-3.png" alt="")
		+e.arrows
			+e.BUTTON.arrow-prev(type="button" aria-label="Предыдущий слайд" data-fancybox-prev="")
			+e.BUTTON.arrow-next(type="button" aria-label="Следующий слайд" data-fancybox-next="")
	+b.modal-block.page__modal#stone-modal-4
		+e.title Магний
		+e.content
			+b.stones-info
				+e.text
					p Жизненно важный элемент в составе большинства тканей, участвует в около 300 биохимических процессах в организме: поддерживает функцию мышц и нервов, иммунной системы, структуру костной ткани.
				+e.image
					img(src="./img/components/stone-info/image-4.png" alt="")
		+e.arrows
			+e.BUTTON.arrow-prev(type="button" aria-label="Предыдущий слайд" data-fancybox-prev="")
			+e.BUTTON.arrow-next(type="button" aria-label="Следующий слайд" data-fancybox-next="")
	+b.modal-block.page__modal#stone-modal-5
		+e.title Кремень
		+e.content
			+b.stones-info
				+e.text
					p Стимулирует омоложение организма, оказывает губительное действие на бактерии, надолго сохраняет качество очищенной воды.
				+e.image
					img(src="./img/components/stone-info/image-5.png" alt="")
		+e.arrows
			+e.BUTTON.arrow-prev(type="button" aria-label="Предыдущий слайд" data-fancybox-prev="")
			+e.BUTTON.arrow-next(type="button" aria-label="Следующий слайд" data-fancybox-next="")
	 
