extends templates/main-template

include base-components/slider
include base-components/slider-preview
include components/course-banner
include components/course-card
include components/registration-card
include components/form-course

block title
	title Страница Курса

block breadcrumbs
	+b.block_breadcrumbs
		.global-wrapper
			+breadcrumbs(['Главная', 'Обучение'])


block content
	+b.SECTION.block._course-page-1
		.global-wrapper
			+e.head 
				+e.H2.title._big Обучение
			+e.body
				+b.course 
					+e.wrap
						+e.slider-container
							+slider-preview({
								'item-component': 'img-card',
								'init-attr': 'data-course-page-slider',
								'array': ['./img/components/course-page/img-6','./img/components/course-page/img-7','./img/components/course-page/img-8'],
							})
						+e.content-container 
							+e.title Мир цвета ALFAPARF MILANO
							+e.coach-info 
								+e.coach-avatar 
									+picture({
										src: './img/components/course-page/img-12',
										png: true,
									}).coach-img
								+e.coach-content
									+e.name Наталья Дивнич
									+e.date 12 марта — 25 марта
							+e.common-info 
								each row in commonInfoList
									+e.common-row
										each cell in row
											+e.common-cell 
												+e.common-label= cell.label
												+e.common-value= cell.value
							+registration-card()
							+registration-card({
								'title': 'Теория <span>24 марта</span>',
								'cost': '6 500 ₽',
							})
							.user-typography
								h3 Apple Keratin Mask
								p Первый в мире «пластичный» кератин! Позволяет обладателю процедуры создавать локоны, а после мытья головы снова оставаться с прямыми и ровными волосами!<br>Состав легко наносится, невероятно быстро встраивается в волос, что значительно ускоряет процесс сушки волос и дальнейшей полировки<br>Эффект выпрямления до 6 месяцев при правильном домашнем уходе!
								h3 Ботокс для натуральных и окрашенных волос BTX Classic
								p Создает идеальную реконструкцию, омоложение и восстанавливает структуру волос.<br>Сияющий блеск и полностью сохраненный естественный объем.<br>Увлажнение до 4 месяцев при правильном домашнем уходе!
								h3 Ботокс для блондированных и мелированных волос BTX Blond
								p Идеален для блондированных, мелированных волос. Нейтрализует желтый и желто-оранжевый фон осветления. Холодный пигмент увеличивает период вымывания красителя, сохраняя холодный оттенок 4-6 недель.<br>Делает цвет волос более глубоким, насыщенным с роскошными переливами!<br>Увлажнение до 4 месяцев при правильном домашнем уходе!
								h3 На семинаре Вы:
								ul 
									li Узнаете все о продукции HALAK PROFESSIONAL
									li Подробно разберете все тонкости применения продукции и узнаете, как избежать ошибок в работе
									li Научитесь правильно позиционировать процедуры в салоне красоты и сможете, с легкостью, отработать возражения клиентов
									li Отработаете на практике технологию нанесения составов и узнаете какие рекомендации давать клиенту после процедуры
							+form-course()
	+b.SECTION.block._course-page-2
		.global-wrapper
			+e.head 
				+e.H2.title другие курсы
			+e.body
				+slider({
					'item-component': 'course-card',
					'init-attr': 'data-product-slider ',
					'array': courseList1
				})._course
	+b.SECTION.block._course-page-3
		h2.visually-hidden Курсы
		.global-wrapper
			+course-banner()
	+b.SECTION.block
		.global-wrapper
			+e.head 
				+e.H2.title._seo Место под seo-текст
			+e.body
				+e.text._seo 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 					
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
