extends templates/main-template

block title
	title Доставка, оплата и возврат

block breadcrumbs
	+b.block_breadcrumbs
		.global-wrapper
			+breadcrumbs(['Главная', 'Доставка, оплата и возврат'])


block content
	+b.SECTION.block._delivery-1
		.global-wrapper
			+e.head
				+e.H2.title._big Доставка, оплата и возврат
			+e.body 
				.collapse.collapse_delivery
					ul.collapse__list
						li.collapse__item 
							.collapse__head(data-drop-next)
								.collapse__title Способы оплаты
							.collapse__body
								.collapse__wrap
									.user-typography
										p Для наших клиентов доступны следующие способы оплаты товаров:
										ol
											li Онлайн оплата банковской картой
											li На расчетный счет
						li.collapse__item 
							.collapse__head(data-drop-next)
								.collapse__title Условия доставки
							.collapse__body
								.collapse__wrap
									.user-typography
										p Бесплатная доставка для мастеров и салонов красоты по городу осуществляется при заказе на сумму <span>от 1500 рублей.</span>
										p Бесплатная доставка для розничного покупателя по городу осуществляется при заказе на сумму <span>от 1000 рублей.</span>
										p Если сумма вашего заказа не выполняет условия бесплатной доставки, вы можете оформить заказ с платной доставкой или самовывоз из любого нашего магазина.
										h3 Стоимость платной доставки зависит Зоны доставки:
										img(src="./img/components/article/img-5.jpg" alt="товар")
										p Зеленая зона — <span>100 рублей</span> (бесплатная доставка по утвержденным условиям)<br>Оранжевая зона — <span>150 рублей</span> (бесплатная доставка по утвержденным условиям)<br>Синяя зона — <span>200 рублей</span> (бесплатная доставка по утвержденным условиям)<br>Пригород* — <span>250 рублей</span> (бесплатная доставка по утвержденным условиям)<br>
										ul
											li В центральную часть города и поселок Южный заказы принимаются до 12:30 в будние дни, в субботу до 14:30. Товар доставляется клиенту с 13:00 до 16:00 в будние дни, в субботу после 15:00
											li В другие районы города Барнаула заказы принимаются до 15:30 в будние дни, в субботу до 14:30. Товар доставляется клиенту после 16:00 в будние дни, в субботу после 15:00
											li Если клиент сделал заявку на доставку после указанного времени, доставка по согласованию с клиентом переносится на следующий день
											li В воскресенье доставка не осуществляется
										p * Пригородом являются пос. Научный городок, пос. Казенная заимка, с. Гоньба, Авиатор, Спутник, пос.Власиха, пос.Куета, Новосиликатный, пос.Октябрьский, пос.Борзовая Заимка, пос.Плодопитомник, пос.Центральный, пос.Сибирская долина, пос.Бельмесево, пос.Южный, с.Лебяжье
										h3 Доставка по г. Новоалтайску
										p Заявки принимаются по телефонам <span>(3852) 22-19-25</span>, <span>8(963)524-33-38</span>, также Вы можете сделать заказ в интернет-магазине.<br>Минимальная сумма заказа - 500 руб.
										p <span class="bold">Условия бесплатной доставки:</span>
										ul
											li Бесплатная доставка для мастеров и салонов красоты по городу осуществляется при заказе на сумму <span>от 1500 рублей</span>
											li Бесплатная доставка для розничного покупателя по городу осуществляется при заказе на сумму <span>от 1000 рублей</span>
											li Если сумма вашего заказа не выполняет условия бесплатной доставки вы можете оформить заказ с платной доставкой или самовывоз из любого нашего магазина.
											li Стоимость платной доставки <span>250 руб.</span>
										h3 Доставка по г. Бийску
										p Заявки принимаются по телефонам <span>(3852) 22-19-25</span>, <span>8(963)524-33-38</span>, также Вы можете сделать заказ в интернет-магазине.<br>Минимальная сумма заказа для самовывоза - <span>500 руб.</span>
										h3 Доставка по г. Горно-Алтайску
										p <span class="bold">Условия бесплатной доставки:</span>
										ul
											li Бесплатная доставка для мастеров и салонов красоты по городу осуществляется при заказе на сумму <span>от 1500 рублей</span>
											li Бесплатная доставка для розничного покупателя по городу осуществляется при заказе на сумму <span>от 1000 рублей</span>
											li В будни заказы принимаются в любое время, в субботу <span>до 15:00</span>
											li В воскресенье доставка не осуществляется
										h3 Доставка по Алтайскому краю
										ul 
											li Заявки принимаются по телефонам (3852) 22-19-25, +7(963)524-33-38, также Вы можете сделать заказ в интернет-магазине.
											li Доставка по населенным пунктам Алтайского края осуществляется при заказе на сумму от 2000 рублей.
											li Дополнительно оплачивается стоимость доставки по прайс-листу транспортной компании.
											li В воскресенье доставка не осуществляется
										h3 Доставка по городам России и Казахстана
										ul
											li Заявки принимаются по телефонам (3852) 22-19-25, +7(963)524-33-38, также Вы можете сделать заказ в интернет-магазине.
											li Доставка по населенным пунктам Алтайского края осуществляется при заказе на сумму от 2000 рублей.
											li Дополнительно оплачивается стоимость доставки по прайс-листу транспортной компании.
											li В воскресенье доставка не осуществляется
						li.collapse__item 
							.collapse__head(data-drop-next)
								.collapse__title Правила возврата
							.collapse__body
								.collapse__wrap
									.user-typography
										p По вопросам обмена и возврата Вы всегда можете обратиться по телефону (3852)22-19-25 (режим работы отдела по работе с клиентами: пн-пт с 9:00 до 18:00, сб с 10:00 до 15:00, воскресенье выходной) или написать на электронную почту modernshop22@yandex.ru
										h3 Отмена Заказа и возврат денежных средств
										p Если Вы хотите отменить Заказ и вернуть предоплату, вы можете сделать это самостоятельно в личном кабинете.<br>При отмене оплаченного Заказа сумма предоплаты вернется к Вам автоматически в течение 10 дней с момента отмены Заказа. В случае Заказа с доставкой через Почту России сумма предоплаты вернется к Вам автоматически в течение 10 дней после возврата заказа на склад.<br>Обращаем ваше внимание, что срок зачисления денежных средств на карту зависит от банка и может составлять до 30 дней.<br>Заказ нельзя отменить, если он уже доставлен или находится в статусе «возвращается». В этом случае сотрудники Интернет-магазина самостоятельно отменят Заказ и оформят возврат денежных средств, когда Заказ поступит на склад.
										ul
											li Если Вы хотите отменить Заказ и вернуть предоплату, вы можете сделать это самостоятельно в личном кабинете.
											li При отмене оплаченного Заказа сумма предоплаты вернется к Вам автоматически в течение 10 дней с момента отмены Заказа. В случае Заказа с доставкой через Почту России сумма предоплаты вернется к Вам автоматически в течение 10 дней после возврата заказа на склад.<br>Обращаем ваше внимание, что срок зачисления денежных средств на карту зависит от банка и может составлять до 30 дней.
											li Заказ нельзя отменить, если он уже доставлен или находится в статусе «возвращается». В этом случае сотрудники Интернет-магазина самостоятельно отменят Заказ и оформят возврат денежных средств, когда Заказ поступит на склад.
										h3 Возврат товара надлежащего качества
										ol
											li Товаром надлежащего качества считается Товар с актуальным сроком годности, соответствующий фото и описанию на сайте modern-altai.ru, у которого отсутствуют недостатки, препятствующие его использованию по целевому назначению.
											li Товары надлежащего качества, входящие в «ПЕРЕЧЕНЬ НЕПРОДОВОЛЬСТВЕННЫХ ТОВАРОВ НАДЛЕЖАЩЕГО КАЧЕСТВА, НЕ ПОДЛЕЖАЩИХ ВОЗВРАТУ ИЛИ ОБМЕНУ НА АНАЛОГИЧНЫЙ ТОВАР ДРУГОГО РАЗМЕРА, ФОРМЫ, ГАБАРИТА, ФАСОНА, РАСЦВЕТКИ ИЛИ КОМПЛЕКТАЦИИ» (в ред. Постановлений Правительства РФ от 20.10.1998 N 1222,от 06.02.2002 N 81)
											li Возврат товаров надлежащего качества, не указанных в п.п. 2 настоящего Раздела, возможен при следующих условиях:
												ul
													li с момента получения заказа прошло не более 7 дней;
													li сохранён товарный вид, комплектация и потребительские свойства товара: сохранена фирменная упаковка, этикетки, наклейки, отсутствуют загрязнения и повреждения, а также иные следы использования товара.
										h3 Возврат товара ненадлежащего качества
										ol
											li Товаром ненадлежащего качества считается Товар, который не соответствует требованиям, предъявляемым для этой категории товара в нормативно-правовых актах и нормативных документах или условиям договора с потребителями.
											li При возврате Товара ненадлежащего качества покупателю возвращается стоимость Товара и его доставки.
											li К возврату принимаются Товары, приобретенные только в Интернет-магазине modern-altai.ru. Товары, купленные в других магазинах, к возврату не принимаются. Возврат товаров, приобретённых в офлайн-магазинах «Модерн», осуществляется на кассе в магазине.
										h3 Как оформить возврат
										p Оформить заявку на возврат товара можно в Личном кабинете
										ol 
											li Перейдите в раздел «мои покупки»
											li Выберите нужный Заказ.
											li Нажмите кнопку «возврат».
											li Выберите нужный Товар.
											li Укажите причину возврата.
											li Выберите способ возврата: заменить товар или вернуть деньги.
						
										h3 Обращаем ваше внимание:
										ul 
											li Если Заказ был оплачен онлайн, денежные средства будут возвращены на карту, с которой была произведена оплата.
											li Если заказ был оплачен подарочной картой, деньги будут возвращены на новую электронную подарочную карту. Данные новой подарочной карты будут высланы на электронную почту, указанную в Личном кабинете, из которого был сделан Заказ
											li Если товар был отправлен на диагностику в авторизованный сервисный центр и вам был выдан акт технического состояния с подтверждением брака, для осуществления возврата денежных средств, необходимо передать оригинал документа в «Модерн».
											li При возврате продукции, оплаченной бонусами, из всей суммы бонусов, использованных для оплаты, на карту возвращается часть, пропорциональная стоимости возвращаемой позиции ко всей сумме покупки.
										p Если Вы хотите отменить Заказ и вернуть предоплату, вы можете сделать это самостоятельно в личном кабинете.<br>При отмене оплаченного Заказа сумма предоплаты вернется к Вам автоматически в течение 10 дней с момента отмены Заказа. В случае Заказа с доставкой через Почту России сумма предоплаты вернется к Вам автоматически в течение 10 дней после возврата заказа на склад.<br>Обращаем ваше внимание, что срок зачисления денежных средств на карту зависит от банка и может составлять до 30 дней.<br>Заказ нельзя отменить, если он уже доставлен или находится в статусе «возвращается». В этом случае сотрудники Интернет-магазина самостоятельно отменят Заказ и оформят возврат денежных средств, когда Заказ поступит на склад.
										ul
											li Если Вы хотите отменить Заказ и вернуть предоплату, вы можете сделать это самостоятельно в личном кабинете.
											li При отмене оплаченного Заказа сумма предоплаты вернется к Вам автоматически в течение 10 дней с момента отмены Заказа. В случае Заказа с доставкой через Почту России сумма предоплаты вернется к Вам автоматически в течение 10 дней после возврата заказа на склад. Обращаем ваше внимание, что срок зачисления денежных средств на карту зависит от банка и может составлять до 30 дней.
											li Заказ нельзя отменить, если он уже доставлен или находится в статусе «возвращается». В этом случае сотрудники Интернет-магазина самостоятельно отменят Заказ и оформят возврат денежных средств, когда Заказ поступит на склад.
										p В пункте «фотографии товара» вы можете приложить фотографии дефекта, нажав на кнопку «прикрепить фото или видео».
										p Необходимы: общая фотография товара, фотография штрих-кода и дефекта. Фотографии должны быть чёткими и позволять идентифицировать Товар и установить наличие дефектов, описанных в заявке.
										p Укажите адрес, по которому курьер сможет забрать Товар.<br>Если вы выбрали в качестве компенсации новый Товар, введите адрес доставки.<br>Ваша заявка на возврат появится в разделе «мои возвраты» в Личном кабинете. После оформления заявка будет в статусе «Создана». После рассмотрения заявки её статус будет изменён на «Одобрена» или «Отклонена»*.
										p * При одобрении заявки денежные средства будут возвращены в течение 10 дней. Если вы выбрали замену Товара, его статус можно отслеживать в вашем личном кабинете.
										p * В случае отклонения мы пришлём официальный ответ на вашу электронную почту.
										p *Рассмотрение заявки может занять до 20 дней.
										p Познакомиться с подробной информацией о возврате средств при разных способах оплаты вы можете в разделе «отмена заказа и возврат денежных средств».