extends templates/main-template

block title
	title Демонстрация - Иконки

block content

	+b.SECTION.block
		.global-wrapper
			+e.head
				+e.H2.title Демонстрация - Иконки
			+e.body
				+b.icons-demonstration
					+e.grid-row 
						+e.grid-item
							+e.icon-eye
							+e.title icon-eye						
						+e.grid-item
							+e.icon-user
							+e.title icon-user
						+e.grid-item
							+e.icon-check
							+e.title icon-check
						+e.grid-item
							+e.icon-drop-up
							+e.title icon-drop-up
						+e.grid-item
							+e.icon-drop-down
							+e.title icon-drop-down
						+e.grid-item
							+e.icon-drop-right
							+e.title icon-drop-right
						+e.grid-item
							+e.icon-arrow-right
							+e.title icon-arrow-right
						+e.grid-item
							+e.icon-arrow-left
							+e.title icon-arrow-left
						+e.grid-item
							+e.icon-close
							+e.title icon-close
						+e.grid-item
							+e.icon-download
							+e.title icon-download						
						+e.grid-item
							+e.icon-heart
							+e.title icon-heart						
						+e.grid-item
							+e.icon-plus
							+e.title icon-plus
						+e.grid-item
							+e.icon-trash
							+e.title icon-trash
						+e.grid-item
							+e.icon-reload
							+e.title icon-reload
						+e.grid-item
							+e.icon-catalog
							+e.title icon-catalog
						+e.grid-item
							+e.icon-cart
							+e.title icon-cart
						+e.grid-item
							+e.icon-search
							+e.title icon-search
						+e.grid-item
							+e.icon-gift
							+e.title icon-gift
						+e.grid-item
							+e.icon-discount
							+e.title icon-discount
						+e.grid-item
							+e.icon-stock
							+e.title icon-stock						
						+e.grid-item
							+e.icon-stocks
							+e.title icon-stocks						
						+e.grid-item
							+e.icon-box
							+e.title icon-box						
						+e.grid-item
							+e.icon-lotion-cream
							+e.title icon-lotion-cream						
						+e.grid-item
							+e.icon-makeup
							+e.title icon-makeup								
						+e.grid-item
							+e.icon-bag
							+e.title icon-bag							
						+e.grid-item
							+e.icon-arrows
							+e.title icon-arrows							
						+e.grid-item
							+e.icon-burger
							+e.title icon-burger						
						+e.grid-item
							+e.icon-main
							+e.title icon-main
						+e.grid-item
							+e.icon-list
							+e.title icon-list
						+e.grid-item
							+e.icon-panel
							+e.title icon-panel
						+e.grid-item
							+e.icon-filter
							+e.title icon-filter						
						+e.grid-item
							+e.icon-calendar
							+e.title icon-calendar						
						+e.grid-item
							+e.icon-discount-2
							+e.title icon-discount-2