extends templates/main-template

include base-components/slider
include components/tags
include components/product-card
include components/news-list

block title
	title База знаний

block breadcrumbs
	+b.block_breadcrumbs
		.global-wrapper
			+breadcrumbs(['Главная', 'База знаний',])


block content
	+b.SECTION.block._knowledge-base-1
		.global-wrapper
			+e.head 
				+e.H2.title._big База знаний
			+e.body
				+e.text_knowledge-base  Для получения доступа ко всем статьям необходимо авторизоваться в <a href="#">личном кабинете</a>.
				+news-list({
					'list': newsList2
				})._knowledge-base
	+b.SECTION.block._knowledge-base-2
		h2.visually-hidden Просмотренное
		.global-wrapper
			+e.head 
				+e.A.title._icon(href="#") Вы смотрели
			+e.body
				+slider({
					'item-component': 'product-card',
					'init-attr': 'data-product-slider ',
					'array': productList1
				})._product
	+b.SECTION.block._news-3
		.global-wrapper
			+e.head 
				+e.H2.title._seo Место под seo-текст
			+e.body
				+e.text._seo 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 					
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 