extends templates/main-template


block title
	title ЛК - Восстановление пароля

block breadcrumbs
	+b.block_breadcrumbs
		.global-wrapper
			+breadcrumbs(['Главная', 'Восстановление пароля'])


block content
	+b.SECTION.block._password-recovery
		.global-wrapper
			+e.head 
				+e.H2.title._big Восстановление пароля
			+e.body 
				+b.FORM.form.form_password-recovery
					+e.item-block
						+e.item
							+form-field({
								'title': 'Введите e-mail',
								'component': {
									'mixin': 'input',
									'placeholder': ''
								},
							})
							+e.text На указанную почту придёт ссылка для смены пароля														
						+e.footer 
							+b.BUTTON.btn-arrow Отправить запрос


				