extends templates/main-template


block title
	title ЛК - Восстановление пароля - 2

block breadcrumbs
	+b.block_breadcrumbs
		.global-wrapper
			+breadcrumbs(['Главная', 'Восстановление пароля'])


block content
	+b.SECTION.block._password-recovery
		.global-wrapper
			+e.head 
				+e.H2.title._big Восстановление пароля
			+e.body 
				+b.FORM.form.form_password-recovery
					+e.body
						+e.item
							+form-field({
								'title': 'Новый  пароль',
								'component': {
									'mixin': 'input-password',
									'placeholder': 'Новый пароль'
								},
							})
						+e.item
							+form-field({
								'title': 'Повторите  пароль',
								'component': {
									'mixin': 'input-password',
									'placeholder': 'Повторите пароль'
								},
							})
					+e.footer 
						+b.BUTTON.btn-grey Сохранить


				