extends templates/main-template

include components/collapse
include components/loyalty-table
include components/loyalty-banner

block title
	title Программа лояльности

block breadcrumbs
	+b.block_breadcrumbs
		.global-wrapper
			+breadcrumbs(['Главная', 'Программа лояльности'])


block content
	+b.SECTION.block._loyalty-program-1
		.global-wrapper
			+e.head
				+e.H2.title._big Программа лояльности
			+e.body 
				.collapse.collapse_loyalty-program
					ul.collapse__list
						li.collapse__item 
							.collapse__head(data-drop-next)
								.collapse__title Система скидок для розничных покупателей 
							.collapse__body
								.collapse__wrap
									.user-typography
										ol 
											li Переходите по ссылке <a href="">https://t.me/ModernLS22Bot</a>
											li Зарегистрируйтесь в нашем телеграм-боте @ModernLS
											li Используйте электронную бонусную карту «Модерн»
											li Получайте бонусы, скидки и подарки!
										p Дисконтная система действует для всех клиентов, зарегистрированных в Телеграм-боте программы лояльности @ModernLS или имеющих пластиковую бонусную карту. Размер предоставляемой скидки зависит от тех или иных условий систем разовых и накопительных скидок, выполненных на момент покупки.
									.loyalty-table-wrap.loyalty-table-wrap_2
										+loyalty-table()
										+loyalty-table(loyaltyList2)
						li.collapse__item 
							.collapse__head(data-drop-next)
								.collapse__title Система скидок Для салонов красоты и частных мастеров
							.collapse__body
								.collapse__wrap
									.user-typography
										ol 
											li Переходите по ссылке <a href="">https://t.me/ModernLS22Bot</a>
											li Зарегистрируйтесь в нашем телеграм-боте @ModernLS
											li Заполните веб-форму, перейдя по ссылке http://modern-altai.ru/iamprofessional или нажав кнопку «Я мастер» в меню телеграм-бота
											li Прикрепите документ, подтверждающий проф. статус:
												ul 
													li документ об образовании (для действующего мастера);
													li справку с места учебы (для обучающихся по данным направлениям);
													li документ о регистрации юридического лица или ИП — ИНН, ОГРН (для владельцев салонов красоты)
											li Используйте электронную бонусную карту «Модерн»
											li Получайте бонусы, скидки и подарки!
										p Дисконтная система действует для всех клиентов, зарегистрированных в Телеграм-боте программы лояльности @ModernLS и потенциально являющихся «профессионалами отрасли» (салоны красоты, парикмахеры, визажисты, косметологи, мастера маникюра и педикюра, обучающие центры, владельцы салонов красоты).
										p Размер предоставляемой скидки зависит от тех или иных условий систем разовых и накопительных скидок, выполненных на момент покупки. Действуют специальные цены.
										.loyalty-table-wrap.loyalty-table-wrap_3
											+loyalty-table(loyaltyList3)
											+loyalty-table(loyaltyList4)
											+loyalty-table(loyaltyList5)
										h3 Система разовых и накопительных скидок действует на все группы товаров, кроме:
										p Matrix / Creative / Constant Delight / Concept / Cutrin / Wella / Londa / Aravia / Yellow / Kezy / Schwarzkopf / Halak Professional / Dewal Cosmetics / Kaaral / RuNail / Depiltouch / SolBianca Professional / L'Arte Del Bello / MoroccanOil / ASIAKISS / Aronyx / DR.F5 / Frudia / Lisap Milano / BOUTICLE / Kwailnara / Redken / L'Oréal Professionnel / Alfaparf / Nirvel / Shot
										ul 
											li В накопления включаются все покупки клиента, в том числе в Отделе оборудования, Отделе по работе с клиентами, товары по акции и распродаже.
											li Скидка, зафиксированная в карточке клиента, является приоритетной к накопительной и разовой системе скидок.
											li Данные системы скидок не распространяется на товары с акционной ценой, товары с ограниченной скидкой и на товары участвующие в той или иной акции, если это указано в условиях этой акции.
											li Средством получения скидки зарегистрированного покупателя в Телеграм-боте программы лояльности, является QR-код вызываемый нажатием кнопки «Моя карта» в меню Телеграм-бота, а также пластиковая бонусная карта Розничного покупателя, зарегистрированного в программе лояльности ранее.
											li Все условия предоставления скидок вступают в силу с момента принятия договора оферты в Телеграм-боте программы лояльности.
											li В случае нарушения договора оферты, Организатор программы лояльности, оставляет за собой право, временно блокировать, удалять, участников программы лояльности, а также менять условия программы лояльности и направление деятельности участников программы лояльности (перевод из мастера в розничного покупателя).
											li Организатор программы лояльности вправе по своему усмотрению изменять или отменять условия программы лояльности посредством публикации новой редакции договора оферты мастера или розничного покупателя.		
						li.collapse__item 
							.collapse__head(data-drop-next)
								.collapse__title Бонусная система для розничных покупателей
							.collapse__body
								.collapse__wrap
									.user-typography
										p На бонусную карту начисляются следующие виды бонусных баллов (Далее «Бонусы»):
										ol 
											li Приветственные — 100 бонусов. (Всем новым покупателям, зарегистрированным в Телеграм-боте программы лояльности @ModernLS)
											li Реферальные — 5% бонусов (При использовании кем-то реферального промо-кода)
											li Акционные (Сумма зависит от условий той или иной акции).
											li Разовые — 5% бонусов (При покупке от 500 руб.)
										h3 Срок действия бонусных баллов:
										ol 
											li Приветственные — 100 бонусов. (1 мес.)
											li Реферальные — 5% бонусов (12 мес.)
											li Акционные (Зависит от условий той или иной акции, но не менее 1 мес.).
											li Разовые — 5% бонусов (12 мес.)
										h3 По прошествии срока действия, начисленные бонусные баллы списываются с бонусного счета покупателя в том же объеме.
										ul 
											li Бонусные баллы - внутренняя валюта программы лояльности компании «Модерн». 1 бонусный балл = 1 руб.
											li При предъявлении бонусной карты, покупатель имеет право оплатить бонусными баллами покупку, но не более 50% от итоговой суммы покупки.
											li Средством получения или списания бонусов зарегистрированного покупателя в Телеграм-боте программы лояльности, является QR-код вызываемый нажатием кнопки «Моя карта» в меню Телеграм-бота, а также пластиковая бонусная карта Розничного покупателя, зарегистрированного в программе лояльности ранее.
											li Все условия зачисления и списания бонусных баллов вступают в силу с момента принятия договора оферты в Телеграм-боте программы лояльности.
											li В случае нарушения договора оферты, Организатор программы лояльности, оставляет за собой право, временно блокировать, удалять, участников программы лояльности, а также менять условия программы лояльности и направление деятельности участников программы лояльности (перевод из мастера в розничного покупателя).
											li Организатор программы лояльности вправе по своему усмотрению изменять или отменять условия программы лояльности посредством публикации новой редакции договора оферты мастера или розничного покупателя.
						li.collapse__item 
							.collapse__head(data-drop-next)
								.collapse__title Бонусная система Для салонов красоты и частных мастеров
							.collapse__body
								.collapse__wrap
									.user-typography
										ol 
											li Приветственные — 100 бонусов. (Всем новым покупателям, зарегистрированным в Телеграм-боте программы лояльности @ModernLS)
											li Реферальные — 5% бонусов (При использовании кем-то реферального промо-кода)
											li Акционные (Сумма зависит от условий той или иной акции).
										h3 Срок действия бонусных баллов:
										ol 
											li Приветственные — 100 бонусов. (1 мес.)
											li Реферальные — 5% бонусов (12 мес.)
											li Акционные (Зависит от условий той или иной акции, но не менее 1 мес.).
										h3 По прошествии срока действия, начисленные бонусные баллы списываются с бонусного счетапокупателя в том же объеме.
										ul 
											li Бонусные баллы - внутренняя валюта программы лояльности компании «Модерн». 1 бонусный балл = 1 руб.
											li При предъявлении бонусной карты, покупатель имеет право оплатить бонусными баллами покупку, но не более 50% от итоговой суммы покупки.
											li Средством получения или списания бонусов зарегистрированного покупателя в Телеграм-боте программы лояльности, является QR-код вызываемый нажатием кнопки «Моя карта» в меню Телеграм-бота, а также пластиковая бонусная карта Розничного покупателя, зарегистрированного в программе лояльности ранее.
											li Все условия зачисления и списания бонусных баллов вступают в силу с момента принятия договора оферты в Телеграм-боте программы лояльности.
											li В случае нарушения договора оферты, Организатор программы лояльности, оставляет за собой право, временно блокировать, удалять, участников программы лояльности, а также менять условия программы лояльности и направление деятельности участников программы лояльности (перевод из мастера в розничного покупателя).
											li Организатор программы лояльности вправе по своему усмотрению изменять или отменять условия программы лояльности посредством публикации новой редакции договора оферты мастера или розничного покупателя.
						li.collapse__item 
							.collapse__head(data-drop-next)
								.collapse__title Реферальная система 
							.collapse__body
								.collapse__wrap
									.user-typography
										p Реферальная система действует для всех клиентов, зарегистрированных в Телеграм-боте программы лояльности @ModernLS.
										+loyalty-banner()
										h3 Участники реферальной программы
										ul
											li Реферал - зарегистрированный участник программы лояльности, который получил промо-код.
											li Реферер - зарегистрированный участник программы лояльности, который сгенерировал и передал промо-код.
										h3 Условия участников реферальной программы
										ul
											li Реферал - скидка 5% (после применения всех остальных скидок и акций)
											li Реферер - 5% бонусных баллов (от итоговой суммы покупки реферала)
										h3 Условия использования промо-кода
										ul
											li Рефералом может стать только участник «Программы лояльности Розничного клиента» - Розничный покупатель.
											li Реферал вправе предъявить промо-код в момент совершения покупки для получения дополнительной скидки 5%.
											li Промо-код автоматически перестает действовать, после использования.
											li Реферером может стать любой участник Программы лояльности.
											li Реферер вправе генерировать и предавать неограниченное количество промо-кодов.
										h3 Условия и порядок начисления бонусных баллов рефереру
										ul 
											li Бонусные баллы в размере 5% от итоговой суммы покупки реферала, начисляются на следующий день после совершения этой покупки.
											li Срок действия Бонусных баллов зачисленных по реферальной программе — 12 месяцев с даты начисления. Средством получения реферальной скидки является, полученный «Промо-код».
											li Все условия использования скидки, зачисления и списания бонусных баллов вступают в силу с момента принятия договора оферты в Телеграм-боте программы лояльности.
											li В случае нарушения договора оферты, Организатор программы лояльности, оставляет за собой право, временно блокировать, удалять, участников программы лояльности, а также менять условия программы лояльности и направление деятельности участников программы лояльности (перевод из мастера в розничного покупателя).
											li Организатор программы лояльности вправе по своему усмотрению изменять или отменять условия программы лояльности посредством публикации новой редакции договора оферты мастера или розничного покупателя.