extends templates/main-template

include base-components/slider
include base-components/button-view
include components/brends-card
include components/product-card
include components/product-params
include components/product-card-list
include components/product-banner
include components/search-panel

block title
	title Результаты поиска - не найдено

block breadcrumbs
	+b.block_breadcrumbs
		.global-wrapper
			+breadcrumbs(['Главная', 'Результаты поиска'])


block content
	+b.SECTION.block._search-1
		.global-wrapper
			+e.head 
				+e.H2.title._big Результаты поиска
			+e.body
				+search-panel({
                    text: 'По вашему зпросу ничего не найдено'
                })

	+b.SECTION.block._catalog-2
		h2.visually-hidden Товары
		.global-wrapper
			+product-banner()
	+b.SECTION.block._search-3
		.global-wrapper
			+e.head 
				+e.h2.title._icon
					a(href="#") Вы смотрели
			+e.body
				+slider({
					'item-component': 'product-card',
					'init-attr': 'data-product-slider ',
					'array': productList1
				})._product
	+b.SECTION.block._catalog-4
		.global-wrapper
			+e.head 
				+e.H2.title Мы — официальные дистрибьюторы
			+e.body
				+slider({
					'item-component': 'brends-card',
					'init-attr': 'data-brend-slider',
					'array': brendsList1
				})._brend
	+b.SECTION.block._catalog-5
		.global-wrapper
			+e.head 
				+e.H2.title._seo Место под seo-текст
			+e.body
				+e.text._seo 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 					
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 