extends templates/main-template

include components/stock-detail-banner
include components/stock-detail-card
include components/stock-step
include base-components/slider

block title
	title Акция детально(второй вариант)

block breadcrumbs
	+b.block_breadcrumbs
		.global-wrapper
			+breadcrumbs(['Главная', 'Акции','Акции для салонов красоты'])


block content
	+b.SECTION.block._stock-detail-4
		h2.visually-hidden Акция
		.global-wrapper
			+e.head._stock 
				+e.title подарок и бонусные баллы При покупке продукции Alfaparf на сумму 15 500 рублей
				.article__additional-info
					.article__tag Салоны и мастера
					.article__view 200 просмотров  
				.article-brend-img
					+picture({
						src: './img/components/brends-list/img-30',
						webp: true,
					})              
			+e.body
				+b.article._stock-version
					+e.content 
						.user-typography
							h2 ПОдарки и бонусные баллы
							p Вы получаете скидку 40% при покупке товаров брендов ТМ ARAVIA PROFESSIONAL & STAREPIL
							+stock-detail-banner({
								title: 'скидка 40%',
								text: '*Срок действия акций с 12 по 30 июня',
								img: './img/components/product-banner/img-3.jpg'
							})
							h2 Как получить подарки и баллы?
							p Купите товары брендов ТМ ARAVIA PROFESSIONAL & STAREPIL. Мы подготовили для вас подборки товаров.
							+b.stock-step
								+e.content
									+e.btn-wrap 
										+e.BUTTON.btn COLOR WEAR
										+e.BUTTON.btn ЕОС CUBE 3D
	+b.SECTION.block
		.global-wrapper
			+e.head 
				+e.H2.title._seo Место под seo-текст
			+e.body
				+e.text._seo 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 					
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 