extends templates/main-template

include base-components/link-list
include components/store-picture-tab
include components/store-map-tab

block title
	title Магазин

block breadcrumbs
	+b.block_breadcrumbs
		.global-wrapper
			+breadcrumbs(['Главная', 'Магазины','Бийск, ул. Власихинская, 91'])


block content
	+b.SECTION.block._store-1
		h2.visually-hidden Магазин
		.global-wrapper
			+e.head 
				+e.title._big Супермаркет профессиональной косметики и оборудования «Модерн» на ул. Власихинская, 91я, 91
			+e.body
				+b.store 
					+e.wrap(data-js-tabs) 		
						+e.info 
							+e.info-block
								+e.info-title Режим работы
								+e.info-text <span>Пн — Пт</span>  9:00 до 20:00
								+e.info-text <span>Сб — Вс</span>  10:00 до 20:00
							+e.info-block
								+e.info-title Телефон
								+e.A.info-link(href="tel:73852221925") +7 (3852) 22-19-25
						+e.text На сегодняшний день мы располагаем двумя филиалами для обеспечения потребностей наших клиентов в других городах России
						+link-list({
							'block': 'store-link-list',
							'active': 0,
							'array-extended': [
								{
									'link': 'Фото магазина',
									'link-attr': {'data-button': 0}
								},
								{
									'link': 'На карте',
									'link-attr': {'data-button': 1}																	
								}
							]
						})
						+e.img-container
							each item, index in storeTab.array
								+e.__img-content&attributes({'class':(storeTab.active == index)?'is-active':false})(data-tab=index)
									+component(item['component'])
						+e.title Другие магазины
						+e.UL.list 
							each store in storeList
								+e.LI.item
									+e.A.item-link(href="#")= store

	+b.SECTION.block
		.global-wrapper
			+e.head 
				+e.H2.title._seo Место под seo-текст
			+e.body
				+e.text._seo 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 					
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 


block extraContent
	include includes/mapscript-yandex 