extends templates/main-template

include base-components/tabs-block
include components/store-tab

block title
	title Магазины

block breadcrumbs
	+b.block_breadcrumbs
		.global-wrapper
			+breadcrumbs(['Главная', 'Магазины'])


block content
	+b.SECTION.block._store-2
		.global-wrapper
			+e.head 
				+e.H2.title._big Магазины
			+e.body
				+tabs-block({
					'tabs-list': {
						'block': 'tabs-list',
					},
					'array': [
						{
							'title': 'Барнаул',
							'component': {
								'mixin': 'store-tab',

							},
						},
						{
							'title': 'Новоалтайск',
							'component': {
								'mixin': 'store-tab',
								'title': 'Новоалтайск',
								'id': 'map2'
							},
						},
						{
							'title': 'Бийск',
							'component': {
								'mixin': 'store-tab',
								'title': 'Бийск',
								'id': 'map3'
							},
						},                        
					],
				})._border

	+b.SECTION.block
		.global-wrapper
			+e.head 
				+e.H2.title._seo Место под seo-текст
			+e.body
				+e.text._seo 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 					
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
					p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 


block extraContent
	include includes/mapscript-yandex 