.my-card-list {
  margin-top: 12px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
}

.my-card-pp {
  background-color: $color-background-2;
  border-radius: 4px;
  padding: 12px;
  @include media-min($media-xs) {
    padding: 18px 20px 18px 20px;
  }
  @include media-min($media-sm) {
    padding: 14px 20px;
  }
  @include media-min($media-md) {
    max-width: 724px;
  }
  @include media-min($media-lg) {
    max-width: 621px;
  }
  &_bonus {
    .my-card-pp__info-wrap {
      text-align: left;
      @include media-min($media-xs) {
        text-align: right;
      }
    }
    .my-card-pp__info {
      @include media-min($media-xs) {
        padding-right: 0px;
        margin-bottom: 0;
      }
    }
  }
}
.my-card-pp__wrap {
  height: 100%;
  @include media-min($media-xs) {
    display: grid;
    grid-template-columns: 224px 1fr;
  }
  @include media-min($media-sm) {
    grid-template-columns: 318px 1fr;
  }
}
.my-card-pp__discount-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 20px;
  margin-bottom: 10px;
  @include media-min($media-xs) {
    margin-bottom: 0;
    padding-right: 20px;
    position: relative;
    align-items: center;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 1px;
      height: calc(100% + 8px);
      background-color: $color-grey-2;
    }
  }
}
.my-card-pp__content-container {
  display: flex;
  align-items: flex-end;
  column-gap: 4px;
  @include media-min($media-xs) {
    flex-direction: column;
  }
  @include media-min($media-sm) {
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
  }
  @include head-14-700();
}
.my-card-pp__title {
  @include head-14-700();
  text-transform: uppercase;
  color: rgba($color-black, 0.9);
  overflow-wrap: anywhere;

  @include media-min($media-sm) {
    @include head-16-700();
  }
}
.my-card-pp__text {
  @include text-13-500();
  color: $color-black;
  @include media-min($media-xs) {
    margin-bottom: 8px;
  }
  @include media-min($media-sm) {
    margin-bottom: 0px;
  }
}
.my-card-pp__persent {
  @include head-16-700-2;
  line-height: 1;
  text-transform: uppercase;
  color: $color-black;
  min-width: 30px;
  text-align: right;
  @include media-min($media-sm) {
    @include head-23-700();
    min-width: 44px;
  }
}
.my-card-pp__img-container {
  width: 126px;
  height: 24px;
  flex-shrink: 0;
  @include media-min($media-sm) {
    width: 172px;
    height: 31px;
  }
}
.my-card-pp__img {
  height: 100%;
  object-fit: contain;
}
.my-card-pp__info-wrap {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  text-align: right;
  @include media-min($media-xs) {
    flex-direction: column;
    justify-content: center;
    padding-left: 34px;
  }
  @include media-min($media-md) {
    padding-left: 24px;
  }
}
.my-card-pp__info {
  @include text-10-500;
  color: $color-black;
  @include media-min($media-xs) {
    margin-bottom: 5px;
    padding-right: 4px;
  }
  @include media-min($media-sm) {
    @include text-13-500;
  }
  span {
    font-weight: 700;
  }
}
.my-card-pp__summ {
  @include text-14-600();
  color: $color-black;
  white-space: nowrap;
  @include media-min($media-xs) {
    @include head-16-700-4;
  }
}
