.search-panel {
  max-width: 734px;
  margin-bottom: 20px;
  @include media-min($media-md) {
    margin-bottom: 25px;
  }
  &_brends {
    margin-bottom: 20px;
    @include media-min($media-xl) {
      margin-bottom: 25px;
    }
  }
}
.search-panel__text {
  margin-top: 13px;
  @include text-13-500;
  span {
    color: $color-grey;
  }
}
