.stock-detail-banner {
  position: relative;
  border-radius: 4px;
  background-color: $color-background-2;
  padding: 18px 14px;
  margin-bottom: 22px;
  overflow: hidden;
  @include media-min($media-xs) {
    padding: 21px 20px;
  }
  &_pink {
    background-color: $color-ui-9;
  }
  &_beige {
    background-color: $color-ui-10;
  }
}
.stock-detail-banner__wrap {
  max-width: calc(100% - 40px);
  z-index: 2;
  position: relative;
  @include media-min($media-xs) {
    max-width: calc(100% - 148px);
  }
  @include media-min($media-sm) {
    max-width: calc(100% - 300px);
  }
  @include media-min($media-md) {
    max-width: calc(100% - 360px);
  }
}
.stock-detail-banner__title {
  @include head-15-700;
  text-transform: uppercase;
  margin-bottom: 10px;
  @include media-min($media-sm) {
    @include head-23-700;
  }
}
.stock-detail-banner__text {
  @include text-14-500;
  @include media-min($media-sm) {
    @include text-16-500;
  }
}
.stock-detail-banner__wrap-img {
  position: absolute;
  width: 66px;
  height: 100%;
  right: 0;
  top: 0;
  @include media-min($media-xs) {
    width: 148px;
  }
  @include media-min($media-sm) {
    width: 320px;
  }
  @include media-min($media-md) {
    width: 360px;
  }

  img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    object-position: left;
  }
}
