.waiting-list__list {
  .waiting-card {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(42, 31, 21, 0.2);
    &:not(:last-child) {
      margin-bottom: 26px;
      @include media-min($media-lg) {
        margin-bottom: 5px;
      }
    }
  }
}
.waiting-card {
  position: relative;
  @include media-min($media-lg) {
    padding-right: 30px;
  }
}
.waiting-card__close-btn {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0px;
  transition: $transition;
  &::before {
    content: '';
    display: block;
    background: icon-close($color-grey-2) no-repeat center / contain;
    width: 12px;
    height: 12px;
  }
  &:hover {
    opacity: 0.6;
  }
}
.waiting-card__wrap {
  display: flex;
}
.waiting-card__img-wrap {
  position: relative;
  width: 81px;
  height: 76px;
  margin-right: 10px;
  flex-shrink: 0;
  @include media-min($media-sm) {
    width: 150px;
    height: 140px;
    margin-right: 20px;
  }
  @include media-min($media-md) {
    margin-right: 7px;
  }
  @include media-min($media-lg) {
    width: 116px;
    height: 108px;
    margin-right: 30px;
  }
}
.waiting-card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.waiting-card__labels {
  position: absolute;
  top: 3px;
  left: -6px;
  display: flex;
  align-items: center;
  gap: 0 2px;
  @include media-min($media-sm) {
    left: -7px;
  }
}
.waiting-card__content-wrap {
  flex: 1;
  @include media-min($media-sm) {
    display: flex;
    flex-direction: column;
  }
  @include media-min($media-md) {
    flex-direction: row;
    justify-content: space-between;
  }
  @include media-min($media-lg) {
    gap: 10px;
  }
}
.waiting-card__product-info {
  margin-bottom: 11px;
  @include media-min($media-sm) {
    margin-bottom: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    max-width: 286px;
  }
  @include media-min($media-sm) {
    padding: 0;
  }
  @include media-min($media-md) {
    max-width: 288px;
  }
  @include media-min($media-lg) {
    max-width: 298px;
  }
}
.waiting-card__name {
  @include head-14-700;
  text-transform: uppercase;

  @include media-min($media-sm) {
    margin-bottom: 7px;
  }

  @include media-min($media-lg) {
    @include head-16-700;
  }
}
.waiting-card__text {
  @include text-13-500;
  margin-bottom: 10px;
  @include media-min($media-sm) {
    margin-bottom: 0;
    @include text-14-500;
  }
  @include media-min($media-md) {
    @include text-15-500;
  }
}
.waiting-card__subtext {
  color: $color-grey;
  @include text-10-500;

  @include media-min($media-sm) {
    @include text-13-500;
    margin-top: 44px;
  }
  @include media-min($media-md) {
    margin-top: auto;
  }
  span {
    color: $color-black;
    margin-left: 2px;
  }
}
.waiting-card__control-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include media-min($media-xs) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  @include media-min($media-sm) {
    flex-wrap: nowrap;
    align-self: flex-end;
  }
  @include media-min($media-md) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }
  @include media-min($media-lg) {
    align-self: unset;
    flex: 1;
  }
}
.waiting-card__status-info {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 11px;
  @include media-min($media-xs) {
    width: 100%;
  }
  @include media-min($media-sm) {
    width: auto;
    margin-bottom: 0;
  }
  @include media-min($media-md) {
    flex: 1;
    justify-content: flex-end;
  }

  &.orange {
    color: $color-orange-dark;
    @include media-min($media-xl) {
      margin-top: 3px;
    }
  }
  &.waiting {
    @include media-min($media-lg) {
      margin-right: 32%;
    }
    @include media-min($media-xl) {
      margin-right: 36%;
      margin-top: 18px;
    }
  }
}
.waiting-card__status-text {
  @include text-14-600;
  text-align: right;

  span {
    display: block;
    font-weight: 500;
    @include media-min($media-xs) {
      display: inline-block;
    }
  }
}
.waiting-card__basket-container {
  @include media-min($media-sm) {
    margin-left: 12px;
  }
  @include media-min($media-md) {
    margin-top: 10px;
    width: 100%;
    text-align: right;
  }
  @include media-min($media-lg) {
    margin-top: 0;
    order: 2;
    margin-left: 20px;
    width: auto;
  }
  @include media-min($media-xl) {
    margin-left: 102px;
  }
}
.waiting-card__basket-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 4px;
  height: 44px;
  background: $color-background-2;
  cursor: pointer;
  transition: $transition;
  @include media-min($media-lg) {
    padding: 12px 20px;
  }
  &:hover {
    background-color: $color-black;
    span {
      color: $color-background-3;
    }
    .basket-btn__icon-cart {
      &::before {
        background: icon-cart($color-background-3) no-repeat center / contain;
      }
    }
  }
  .basket-btn__icon-cart::before {
    width: 20px;
    height: 20px;
    @include media-min($media-lg) {
      width: 24px;
      height: 24px;
    }
  }
  & > span {
    text-transform: uppercase;
    color: $color-black;
    @include text-12-600-2;
    white-space: nowrap;

    @include media-min($media-lg) {
      @include text-14-600-2;
    }
  }
}
.waiting-card__cost-container {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-bottom: 8px;
  @include media-min($media-xs) {
    margin-right: auto;
    margin-bottom: 0;
  }
  @include media-min($media-sm) {
    flex-direction: column;
    gap: 0;
    margin-left: 18px;
    margin-right: 0;
    align-items: flex-end;
  }
  @include media-min($media-lg) {
    order: 3;
    margin-left: 51px;
  }
}
.waiting-card__cost {
  @include head-14-700;
  text-transform: uppercase;
  @include media-min($media-sm) {
    @include head-18-700;
  }
  @include media-min($media-lg) {
    @include head-23-700;
  }
}
.waiting-card__stock {
  color: $color-grey;
  @include text-10-500;
  text-decoration: line-through;
  @include media-min($media-sm) {
    @include text-14-500;
  }
}
