.ant-modal {

}

.ant-modal-content {

}

.ant-modal-close {
  color: $color-brand-2;
  &:focus,
  &:hover {
    color: $color-brand-2-hover;
  }
}

.ant-modal-close-x {
  .anticon {
    color: $color-brand-2;
  }

  &:hover {
    .anticon {
      color: $color-brand-2-hover;
    }
  }
}

.ant-modal-header,
.ant-modal-body,
.ant-modal-footer {
  padding-left: 25px;
  padding-right: 25px;
}

.ant-modal-header,
.ant-modal-footer {
  border: 0;
}

.ant-modal-header {
  padding-top: 20px;
  padding-bottom: 15px;
}

.ant-modal-title, .ant-modal-confirm-title {
  font-family: $font-inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  .anticon {
    margin-right: 10px;
  }
}

.ant-modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.ant-modal-footer {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;

  & > * + * {
    margin-left: 15px;
  }
}

.modal {

}

.modal__icon {
  &_color_brand-2 {
    svg {
      color: $color-brand-2;
      path {
        fill: $color-brand-2;
      }
    }
  }
}

.modal__subtitle {
  margin-top: 5px;
}

.modal__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal__checkbox-container {

  .ant-checkbox-group {
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    gap: 10px 15px;
  }

  .ant-checkbox-group-item {
    margin: 0;
  }
}

.modal__text-container {
  padding: 15px;
  background-color: $color-ui-2;

  & > * + * {
    margin-top: 10px;
  }
}

.modal__text {

}

.logistic-modal {
  .ant-modal-header {
    padding: 20px 50px 15px 25px;
  }

  .ant-modal-title, .ant-modal-confirm-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    .anticon {
      svg {
        color: $color-brand-2;
        transform: rotate(180deg);
      }
    }
  }

  .ant-modal-body {
    padding: 15px 25px 25px;
  }

  .ant-modal-footer {
    border-top: 1px solid $color-ui-2;
    padding: 15px 25px 20px;
  }

  &.ant-modal-confirm {
    .ant-modal-body {
      padding-top: 20px;
    }
    .ant-modal-confirm-title {
      padding-bottom: 15px;
    }
    .ant-modal-confirm-content {
      padding-top: 15px;
      margin: 0;
      @include text-2();
    }
  }
}

.logistic-modal__text-container {
  & > * + * {
    margin-top: 15px;
  }

  p {
    position: relative;
    padding-left: 20px;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 8px;
      left: 8px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-black;
    }
  }
}

.modal-claim {
  .ant-modal-footer {
    .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
      margin: 0 0 0 15px;
    }
    .btn-icon-save {
      margin-left: auto !important;
      margin-right: 0 !important;
    }
  }
}

.user-status-modal {
  .ant-modal-content {
    border-radius: 6px;
  }
  .ant-modal-header {
    border-radius: 6px 6px 0 0;
  }

  .ant-modal-footer {
    border-radius: 0 0 6px 6px;
  }
}

.profile-modal {
  .ant-modal-content {
    border-radius: 6px;
  }
}

.modal_border {
  .ant-modal-content {
    border-radius: 4px;
    border: 1px solid $color-ui-3;
    //box-shadow: none;
    //filter: $drop-shadow-1;
  }
  .ant-modal-header {
    border-radius: 4px 4px 0 0;
  }

  .ant-modal-body {
    transition: $transition-long;
  }
}

.logistic-modal-success {
  .ant-modal-body {
    padding: 25px;

    .anticon {
      margin-right: 15px;
      color: $color-brand-2;
    }
  }
}

.modal-v2 {
  .ant-modal-content {
    border-radius: 6px;
  }

  .ant-modal-header {
    border-radius: 6px 6px 0 0;
  }

  .ant-modal-title {
    font-weight: 400;
  }

  .ant-modal-body {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .ant-modal-footer {
    border-top: 1px solid $color-ui-2;
  }

  &.no-body {
    .ant-modal-body {
     padding: 0;
    }

    .ant-modal-footer {
      border: none;
    }
  }

  &.is-limited {
    .ant-modal-body {
      padding-top: 5px;
    }
    .modal-v2__subtitle {
      margin-bottom: 15px;
    }
  }
}

.modal-v2__subtitle {
  color: $color-black;
}

.modal-v2-main {
  .ant-modal-title {
    font-weight: 600;
  }
  .ant-modal-body {
    @include text-2-1();
  }
  .ant-modal-footer {
    padding: 15px 25px 20px;
  }
}
