.password-field {
  .ant-input {
    padding-right: 25px !important;
  }

  .ant-form-item-explain {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__marked {
    margin: 0 10px 0 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;

    border: 1px solid $color-brand-3;
  }

  &__item {
    @include text-10-400-inter();
    display: flex;
    align-items: center;
    color: $color-brand-3;
    margin-bottom: 8px;

    &:nth-child(1) {
      @include text-3-medium();

      .anticon {
        margin-right: 7.5px;
      }
    }

    &.warning {
      color: $color-warning;
    }

    &.valid {
      color: $color-black;

      .password-field__marked {
        background: $color-success;
        border: none;
      }

      &:nth-child(1) {
        color: $color-success;
      }
    }
  }

  &__progress {
    margin-top: 7px;
  }
}
