.pharmacy-orders-page {
  .custom-layout {
    .ant-breadcrumb {
      & > * {
        &:first-child {
          .ant-breadcrumb-link {
            &:before {
              background-image: icon-home($color-text-1);
            }
          }
        }
      }
    }

    .ant-breadcrumb-link {
      a {
        color: $color-ui-5-1;

        &:hover {
          color: $color-text-1;
        }
      }

      a.is-active {
        color: $color-text-1;
      }
    }

    .ant-layout-content {
      background-color: $color-content-branded;
    }
  }

  .ant-spin {
    color: $color-text-1;
  }
}

.pharmacy-page {

}

.breadcrumb-branded {
  &.ant-breadcrumb {
    & > * {
      &:first-child {
        .ant-breadcrumb-link {
          &:before {
            background-image: icon-home($color-text-1);
          }
        }
      }
    }
  }

  .ant-breadcrumb-link {
    a {
      color: $color-ui-5-1;

      &:hover {
        color: $color-text-1;
      }
    }

    a.is-active {
      color: $color-text-1;
    }
  }
}
