doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        block title
        meta(content="Феоктистова Надежда" name="author")
        meta(content="Сайт-портфолио" name="description")
        meta(content="портфолио сайт надежда феоктистова" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="shortcut icon" href='img/favicon.ico' type="image/x-icon")
        link(rel='stylesheet' href='css/foundation.css')
        link(rel='stylesheet' href='css/main.min.css')
    body
        .wrapper
            block content

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
        