section.about#about.py-5
    .container 
        .row.align-items-center 
            .col-md-6.col-12.mb-3.mb-md-0
                .about__head.mb-5   
                    +sectionTitle("Discover", "Our Story", "Story")
                .about__desc
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quae expedita fugiat quo incidunt, possimus temporibus aperiam eum, quaerat sapiente.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis enim a pariatur molestiae.
            .col-md-6.col-12
                .about__pic.visibility.wow.animate__animated.animate__fadeInLeft(data-wow-duration="1s" data-wow-offset="200" ) 
                    img.about__img.img-fluid(src="./img/traveler.png", alt="Изображение путешественника")
