section.hero 
    include ../components/header
    .hero__content.d-flex.align-items-center  
        .container
            .row.justify-content-start 
                .col-md-5
                    .hero__desc.text-white.py-3.animated.animate__fadeInLeft
                        h1.hero__title.mb-3 Let's Enjoy The Wonders of Nature
                        .hero__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta veritatis in tenetur doloremque, maiores doloribus officia iste. Dolores.





