section.slogan 
    .container
        .row.justify-content-center
            .col-md-7.col-12
                .slogan__block.text-white.text-center 
                    h2.slogan__title Join and Trip With Us
                    .slogan__text.mb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ut, doloremque quo molestiae nesciunt officiis veniam, beatae dignissimos!
                    .slogan__btn
                        a.section__btn-link.d-inline-block.px-4.py-3(href="#" target="_blank" rel="noopener") Get In Touch
