$body-font: "Roboto", Arial, sans-serif;
$title-font: "Montserrat", Arial, sans-serif;
$subtitle-font: "Kaushanscript", Arial, sans-serif;
$color-primary: #333;
$color-secondary: #999;
$color-pink: #f38181;
$color-yellow: #fce38a;
$color-green: #eaffd0;
$color-blue: #95e1d3;
$color-bg: #f8f8f8;
