$body-font: "Roboto", Arial, sans-serif;
$title-font: "Malina", Arial, sans-serif;
$contrast: #fca211;
$white: #fff;
$title: #2b2f5f;
$text: #636363;
$subtitle: #8d8d8d;
$dark-title: #393939;
$dark-contrast: #641a00;
$dark-text-contrast: #893213;
