.blog {
  position: relative;
  .container {
    display: flex;
  }
}
.blog__title {
  &.section__title {
    margin: 0;
  }
  .section__title-text {
    &::after,
    &::before {
      background: rgba($white, 0.2);
    }
  }
  &::before {
    width: 230%;
    height: 240%;
    background-image: url("../img/icons/blog_header.svg");
  }
}

.article-title__sidebar {
  width: 300px;
  text-align: right;
  color: $prime;
  @include laptop {
    position: fixed;
    transform: translateX(-101%);
    transition: 0.3s ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    background: $contrast;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    &.open {
      transform: translateX(0%);
    }
  }
}

.article-title__btn {
  padding: 0;
  border: 0;
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(40%, -50%);
  transition: 0.3s ease-in-out;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: flex-end;
  background: $contrast;
  border-radius: 50%;
  cursor: pointer;
  @include laptop {
    display: flex;
  }
  &:hover,
  &:active,
  &:focus {
    .article-title__icon {
      opacity: 1;
    }
  }
}

.article-title__icon {
  width: 26px;
  height: 16px;
  display: block;
  transform: rotate(-90deg);
  margin-right: 9px;
  opacity: 0.7;
  transition: 0.3s;
  fill: #fff;
}

.article-title__list {
  padding: 64px 0;
  &.fixed {
    position: sticky;
    top: 0;
  }
}

.article-content__list {
  flex: 1;
  padding: 0px 100px;
  @include laptop {
    padding: 0px 20px;
  }
  @include phones {
    padding: 0px;
  }
}

.article-title__item {
  &.active {
    .article-title__link {
      color: $contrast;
      font-weight: 500;
      &::before {
        opacity: 1;
      }
      @include laptop {
        color: $white;
        &::before {
          opacity: 0;
        }
      }
    }
  }
}
.article-title__item {
  margin-bottom: 13px;
}

.article-title__link {
  background: transparent;
  border: 0;
  cursor: pointer;
  text-align: right;
  padding: 9px 20px;
  color: $prime;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  transition: color 0.3s;
  width: 100%;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: $contrast;
    top: 0;
    right: 0;
    opacity: 0;
  }

  &:hover,
  &:active {
    color: $contrast;
    &::before {
      opacity: 1;
    }
    @include laptop {
      color: $white;
      &::before {
        opacity: 0;
      }
    }
  }

  @include laptop {
    color: rgba($white, 0.5);
    padding: 15px 40px;
  }
}

.article-content__item {
  padding: 70px 0;
  padding-top: 53px;
  &:not(:last-child) {
    border-bottom: 5px solid rgba($second, 0.07);
  }
}

.article-content__title {
  font-family: $title-font;
  font-size: 35px;
  margin-bottom: 13px;
}

.article-content__date {
  display: block;
  color: $contrast;
  margin-bottom: 20px;
}

.article-content__text {
  p {
    line-height: 1.6;
    margin-bottom: 11px;
  }
}
