.intro {
  height: 100vh;
  min-height: 615px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  @include tablets {
    background: url("../img/hero__bg@1x.png") no-repeat center / cover $contrast;
  }
}

.header-intro {
  padding: 20px 0;
  .container {
    display: flex;
    justify-content: flex-end;
  }
}

.header-intro__btn {
  border: 1px solid $white;
  border-radius: $border-radius;
  background: transparent;
  transition: 0.3s;
  color: $white;
  padding: 12px 27px;
  font-weight: 500;
  cursor: pointer;
  &:hover,
  &:active {
    background: $white;
    color: $contrast;
  }
  &.btn__hidden {
    opacity: 0;
  }
}

.intro__content-wrapper {
  perspective: 1000px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__content {
  transform-style: preserve-3d;
  transition: 0.8s ease;
  position: relative;
  &.flip {
    transform: rotateY(180deg);
  }
}

.intro__btn {
  width: 100%;
  display: flex;
}

.intro__link {
  color: $white;
  cursor: pointer;
  background: rgba($contrast, 0.8);
  border: 0;
  border-right: 2px solid rgba(#dee3e7, 0.8);
  flex: 1;
  padding: 11px 0px;
  font-size: 16px;
  line-height: 1.42;
  text-align: center;
  transition: 0.3s;
  &:last-child {
    border-right: 0;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: rgba($contrast, 0.5);
  }
}

.footer-intro {
  color: rgba($white, 0.7);
  padding: 30px 0;
  .container {
    display: flex;
    justify-content: center;
  }
}
.footer-intro__text {
  font-weight: 300;
}
