.header-notifications {

}

.header-notifications__btn {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include notification(5px ,5px);

  .anticon {
    width: 18px;
    height: 18px;
  }


  &.has-notification {
    &:after {
      opacity: 1;
    }
  }
}