.progress {
  &.ant-progress.ant-progress-circle {
    width: 20px !important;
    height: 20px !important;

    .ant-progress-inner {
      width: 20px !important;
      height: 20px !important;
      font-size: 20px !important;
      &:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
        stroke: $color-brand-2;
        stroke-width: 10px !important;
      }
    }

    .ant-progress-circle-trail {
      stroke: transparent;
    }

    &.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
      stroke: $color-brand-2;
      troke-width: 16px !important;
    }
  }
}