.hero {
  background: linear-gradient(to top, rgba($color-yellow, 0.9) 0%, rgba($color-pink, 0.9) 100%), url("../img/hero-bg.jpg") no-repeat center / cover;
  display: flex;
  background-color: $color-pink;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 815px;
  height: 100vh;
}

.hero__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero__head {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 52px;
  opacity: 0;
  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
  }
}

.hero__subtitle {
  font-family: $subtitle-font;
  font-size: 72px;
  line-height: 1.93;
  @include desktop {
    font-size: 5.624999vw;
  }
}

.hero__title {
  font-family: $title-font;
  font-weight: 700;
  font-size: 150px;
  text-transform: uppercase;
  line-height: 0.94;
  margin-bottom: 62px;
  @include desktop {
    font-size: 11.71875vw;
  }
}

.hero__btn {
  display: inline-block;
  border: 3px solid #fff;
  padding: 7px 29px;
  font-family: $title-font;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: inherit;
  transition: 0.3s;
  opacity: 0;
  &:hover,
  &:active,
  &:focus {
    color: $color-pink;
    border: 3px solid $color-pink;
  }
}
