.works {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.works__head {
  max-width: 950px;
  margin-bottom: 98px;
}

.works__title {
  margin-bottom: 45px;
}

.works__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @include tablets {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  @include phones {
    grid-template-columns: 1fr;
  }
}

.works__item {
  position: relative;
  color: #fff;

  &:hover,
  &:active,
  &:focus {
    .section__thumb {
      opacity: 1;
    }
  }
  &:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @include tablets {
      grid-column: 1 / 2;
      grid-row: auto;
    }
    @include phones {
      grid-column: span 1;
    }
  }

  &:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @include tablets {
      grid-column: 2 / 3;
      grid-row: auto;
    }
    @include phones {
      grid-column: span 1;
    }
  }

  &:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    @include tablets {
      grid-column: 1 / 2;
      grid-row: auto;
    }
    @include phones {
      grid-column: span 1;
    }
  }

  &:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    @include tablets {
      grid-column: 2 / 3;
      grid-row: auto;
    }
    @include phones {
      grid-column: span 1;
    }
  }

  &:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    @include tablets {
      grid-column: 1 / 2;
      grid-row: auto;
    }
    @include phones {
      grid-column: span 1;
    }
  }

  &:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    @include tablets {
      grid-column: 2 / 3;
      grid-row: auto;
    }
    @include phones {
      grid-column: span 1;
    }
  }

  &:nth-child(7) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    @include tablets {
      grid-column: 1 / 3;
      grid-row: auto;
    }
    @include phones {
      grid-column: span 1;
      grid-row: auto;
    }
  }
}

.works__thumb-icon {
  width: 30px;
  height: 30px;
  display: block;
  fill: #fff;
  margin-bottom: 18px;
}

.works__thumb-title {
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 7px;
  text-align: center;
}

.works__thumb-subtitle {
  font-style: italic;
  font-size: 15px;
}
