*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;  

  // scroll-behavior: smooth;
}

body {
  color: $color-text;
  font-size: 16px;
  font-family: $font-default;
  line-height: 1.2;

}


a {
  display: block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: block;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  background-color: #fff;
}

.page__inner {
  overflow-x: clip;
}

section {
  overflow: hidden;
}

.title-mark{
  color: $color-ui-2;
}

.page_overflow-hidden {
  @include media-max($media-md) {
    overflow: hidden;
  }
}

img{
  max-width: 100%;
}


.main {
  padding-top: 60px;  

  @include media-min($media-xs) {
    padding-top: 80px;
  }
}

.input-reset {
  background-color: #fff;
  border: none;
  border-radius: 0;
  appearance: none;  

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1240px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  
  @include media-min($media-xs) {
    padding: 0 30px;
  }

  @include media-min($media-sm) {
    padding: 0 40px;
  }  

  @include media-min($media-md) {
    padding: 0 50px;
  }
}

.global-wrapper{
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto
}


