extends ../template

block content
	section.panel 
		header.panel-header
			h1.panel-header__title Панель администрирования
			a.panel-header__link(href="/") Вернуться на сайт
		.panel-tabs
			ul.panel-tabs__controls
				li.panel-tabs__controls-title.active  
					button.panel-tabs__btn Tab 1
				li.panel-tabs__controls-title 
					button.panel-tabs__btn Tab 2
				li.panel-tabs__controls-title 
					button.panel-tabs__btn Tab 3
			ul.panel-tabs__content
				li.panel-tabs__content-desc.active  
					h2.panel-tabs__content-title Страница "Обо мне"
					form.panel-tabs__content-form#about-form
						.panel-tabs__content-row 
							.panel-tabs__content-subtitle Добавть навыки
						.panel-tabs__content-row
							input.panel-tabs__content-input(type="text" placeholder="Название группы" name="name")
						.panel-tabs__content-row 
							textarea.panel-tabs__content-input.panel-tabs__content-textarea(type="text" placeholder="Описание технологии" name="tech")
						.panel-tabs__content-row 
							input.panel-tabs__content-file.panel-tabs__content-input#tech-img(type="file" name="photo" accept="image/*")
							label.panel-tabs__content-label(for="tech-img")
								span.panel-tabs__content-text Загрузить картинку
						.panel-tabs__content-row 
							button.panel-tabs__content-btn(type="submit") Сохранить
				li.panel-tabs__content-desc
					h2.panel-tabs__content-title Страница "Блог"
					form.panel-tabs__content-form#blog-form
						.panel-tabs__content-row 
							.panel-tabs__content-subtitle Добавть запись
						.panel-tabs__content-row 
							.panel-tabs__content-cell
								input.panel-tabs__content-input(type="text" placeholder="Название" name="title")
							.panel-tabs__content-cell
								input.panel-tabs__content-input(type="date" placeholder="Дата" name="date")
						.panel-tabs__content-row 
							textarea.panel-tabs__content-input.panel-tabs__content-textarea#editor(placeholder="Содержание" name="desc")
						.panel-tabs__content-row 
							button.panel-tabs__content-btn Добавить
				li.panel-tabs__content-desc
					h2.panel-tabs__content-title Страница "Мои работы"
					form.panel-tabs__content-form#works-form
						.panel-tabs__content-row 
							.panel-tabs__content-subtitle Добавть работу
						.panel-tabs__content-row 
							input.panel-tabs__content-input(type="text" placeholder="Название проекта" name="name")
						.panel-tabs__content-row 
							input.panel-tabs__content-input(type="text" placeholder="Технологии" name="tech")
						.panel-tabs__content-row 
							input.panel-tabs__content-input(type="url" placeholder="Ссылка" name="link")
						.panel-tabs__content-row 
							input.panel-tabs__content-file.panel-tabs__content-input#project-img(type="file" name="photo" accept="image/*")
							label.panel-tabs__content-label(for="project-img")
								span.panel-tabs__content-text Загрузить картинку
						.panel-tabs__content-row 
							button.panel-tabs__content-btn(type="submit") Добавить
	
	script(src='js/foundation.min.js')
	script(src='js/admin.min.js')