extends ../template

include ../modules/mixins
block content
	include ../modules/preloader
	.parallax
		each parallaxItem in [0, 2, 3, 4, 5, 6, 7, 8, 9]
			.parallax__layer
				div(class=`parallax__bg parallax__bg--${parallaxItem}`)
	section.intro 
		header.header-intro
			.container
				button.header-intro__btn Авторизоваться
		.intro__content-wrapper
			.intro__content 
				include ../modules/welcome				
				include ../modules/auth	
		footer.footer-intro
			.container 
				.footer-intro__text © Феоктистова Надежда | 2022
	
	script(src='js/foundation.min.js')
	script(src='js/intro.min.js')