extends ../template

include ../modules/mixins
block content
	include ../modules/preloader
	+heroSection("works")
	section.works#works
		+triangle("triangle__milk","triangle__milk")
		.works__head
			.section__title.works__title 
				h1.section__title-text Мои работы
		include ../modules/slider
	section.feedback
		img.feedback__bg(src="./img/contact__bg@1x.jpg" srcset="./img/contact__bg@2x.jpg 2x" alt="" aria-hidden="true")
		.feedback-form__wrapper
			form.feedback-form(action="#")
				.feedback-form__blur
				.feedback-form__field
					h2.feedback-form__title.section__subtitle Связаться со мной 
					.feedback-form__row 
						input.feedback-form__input(type="text" name="username" placeholder="Имя" )
					.feedback-form__row 
						input.feedback-form__input(type="email" name="email" placeholder="Email" )
					.feedback-form__row 
						textarea(name="message" placeholder="Ваше сообщение" ).feedback-form__input.feedback-form__textarea
				.feedback-form__row 
					button.feedback-form__btn(type="submit") Отправить
					button.feedback-form__btn(type="reset") Очистить
			a.feedback__arrow.hero__arrow(href="#" data-href="#hero")
				svg.hero__arrow-icon(width="26" height="16")
					use(xlink:href=`./img/sprite.svg#portf_arrow_up`)
	include ../modules/footer
	
	script(src='js/foundation.min.js')
	script(src='js/works.min.js')
		


