.Header__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.Header__link:hover {
    background: #1E88E5;
}
.Header__link--active {
    background: #1E88E5;
}