mixin icon-vk()
  include ../../img/icons/vk.svg
mixin icon-inst()
  include ../../img/icons/instagram.svg  
mixin icon-fb()
  include ../../img/icons/facebook.svg    
mixin icon-youtube()
  include ../../img/icons/youtube.svg
mixin icon-ok()
  include ../../img/icons/ok.svg
