mixin input-file(data)
	-
		data = init(data, {
			label: 'Прикрепить файл(-ы)',
			'label-multi-not-first': 'Прикрепить файл(-ы)',
			icon: 'file',
		})
	+b.input-file.js-input-file-wrap&attributes(attributes)(class=(data.class ? data.class : '') data-input-multi='true')
		+e.LABEL.body
			+e.INPUT.input.js-input-file(type='file')
			+b.btn-file
				+b.SPAN.js-input-file-name(data-not-first=data['label-multi-not-first'])!=data.label
