include input

mixin input-password(data)
	-
		data = init(data, {
			'block': 'input-password',
			'input': {
				'type': 'password',
				'attr': null
			},
		})

	+b&attributes(data.attributes(attributes))(data-js-password-input)
		+input(data['input'])(class=data.elem('__input'))
		+e.BUTTON.__visibility-btn._icon_eye(type='button' aria-label='Показать/скрыть пароль')