-
	var FrontendSkill = {
		"html" : "Владение HTML. Семантичная и валидная верстка",
		"css" : "Владение CSS. Умение использовать возможности CSS3",
		"js" : "Основы JavaScript, базовые операции с объектами и массивами",
		"jquery" : "Написания простых виджетов, работа и настройка плагинов",
		"bootstrap" : "Работа с модулями и сеткой фреймворка bootstrap",	
		"flexbox" : "Верстка лейаута с применением свойств flexbox",
		"adaptiv" : "Адаптивная верстка с использованием медиа запросов",
		"browser" : "Кроссбраузерная верстка под браузеры популярных движков",
		"ps" : "Знание Photoshop на уровне 'нарезания' макетов",
		"bem" : "Понимание модульной верстки, именование классов по БЭМ",
		"svg" : "Навыки работы c векторной графикой в формате SVG",
		"retina" : "Умение работать с графикой на сайте под retina дисплеи",
		"yandex" : "Работа с JS API HTML5, работа с картами google/yandex",
		"ajax" : "Работа с технологией Ajax, асинхронные запросы на сервер"
	};
-
	var BackendSkill = {
		"node" : "Работа с Node.js, настройка роутинга сайта",
		"mongo" : "Работа с MongoDB, сохранение данных с помощью Ajax"
	};
-
	var WorkflowSkill = {
		"sass" : "Работа с SASS и инструментами его компиляции",
		"pug" : "Работа с препроцессором и шаблонизатором Pug",
		"npm" : "Работа с консолью на уровне основных команд и npm",
		"gulp" : "Сборка и оптимизация проекта при помощи GULP и его плагинов",
		"brsync" : "Работа с browser-sync, использование преимуществ livereload",
		"git" : "Работа с системами контроля версий (GIT (github))",
		"dev" : " Работа с полезными расширениями Chrome: PerfectPixel, Web Developer  и т.д.",
		"sublime" : "Использование редактора с плагинами Sublime text 3"
	};
-	var skills = {"Frontend" : FrontendSkill, "Backend" : BackendSkill, "WorkFlow" : WorkflowSkill}

.about-data
	.about-data__desc
		.about-data__title
			h2.subtitle Чем я могу быть полезна
		.about-data__text.section__text
			p
				|В верстке мне нравится сам процесс и видимый результат своей работы. Люблю пробовать разные подходы к решению задачи и оптимально использовать свои знания. Практиковала обычную блочную верстку, flexbox, разрабатывала лэндинги на Bootstrap, опробовала табличную верстку в рассылках. В работе использую css-препроцессор Sass, для разметки страниц предпочитаю использовать препроцессор Pug, для интерактивных элементов использую jQuery, могу написать простенький виджет. Также знакома с jq-библиотеками, такими как: Slick, OWL-carousel, inputmask и тд. При верстке использую компонентный подход, придерживаюсь методологии BEM. Планирую углубиться в JS, начать изучение одного из фреймворков.
			p
				|Хочу развиваться в качестве Frontend разработчика, но я также знакома с решением несложных задач на Backend. Но давайте по порядку.
	.about-data__content
		ul.skill__list
			each skillVal, skillName in skills
				li.skill__item
					.skill__title= skillName
					ul.skill-desc__list
						each skillText, skillIcon in skillVal
							li.skill-desc__item
								.skill-desc__block
									.skill-desc__icon
											img(src=`img/skill/${skillIcon}.png` alt="css").skill-desc__pic
									.skill-desc__text= skillText 
			