.about-user__title
	h1.section__title(style="background: url('img/icons/about_header.svg')") Обо мне
.about-user
	.about-user__img
		img(src="img/content/user__avatar-big.jpg" alt="user__avatar").about-user__pic
	.about-user__title
		h2.subtitle Кто я
	.about-user__desc.section__text
		p 
			|Мне 29 лет, веб-разработчик из Рязани. Закончила радиотехнический университет, получив специальность инженера. Стала увлекаться вебом и поняла, что верстка и сфера ИТ для меня ближе. Считаю, что нужно заниматься в первую очередь тем, что вызывает интерес и стремление узнать больше - это залог развития и успеха. Верстке стала обучаться сама. После прохождения курсов по web-разработке активно продолжаю самостоятельное изучение HTML, CSS, а также JavaScript. Черпаю информацию из книжек, онлайн-курсов, ютуба и интернет-ресурсов. 
		p 
			|Стараюсь как можно быстрее адаптироваться к стрессовым ситуациям. Использую планеры для организации и структурирования своей деятельности. Являюсь общительным, позитивно настроенным, целеустремленным человеком и ответственно подхожу к выполнению задач, укладываюсь в сроки, чему не мешает разумный перфекционизм.

		p 
			|Свободное время люблю проводить с пользой. Нравится посещать интересные выставки, фестивали. Люблю активный отдых, велопоездки, лыжные прогулки, поездки выходного дня. Вдохновляюсь красотой и гармонией природы, произведениями современного исскуства.
