.articles__sidebar
	.articles__sidebar-control
		svg.articles__sidebar-icon
			use(xlink:href="img/sprite.svg#arrow_down")
	ul.articles__sidebar-list
		li.articles__sidebar-item Что должен уметь фронтенд-разработчик
		li.articles__sidebar-item Фронтенд — это не больно!
		li.articles__sidebar-item Выбор адаптивного email фреймворка: MJML или Foundation for Emails
		li.articles__sidebar-item 8 приемов работы с CSS: параллакс, «липкий» футер и другие
	