ul.articles__list
	li.articles__item
		article.article
			.article__head
				h2.article__title Что должен уметь фронтенд-разработчик
			.article__body
				.article__date 25.04.2017
				.article__content.section__text 
					p 
						|Если зайти на первый попавшийся сайт по поиску работы, например, на hh.ru, создастся впечатление, что фронтенд-разработчик — это специалист-хамелеон.
					p 
						|Начинается все с путаницы в названиях вакансий: можно встретить и «front-end developer», и «front end разработчик», и «фронтендщик», и «фронтенд девелопер», и «web developer», и «фронтенд-разработчик». Иногда даже можно увидеть какого-нибудь «веб-верстальщика» с требованиями под фулстак-разработчика. Реакция на это одна: WTF?!
					p 
						|Верстальщик — боец узкого фронта. Его задача — сверстать полученный от дизайнера макет, используя HTML+CSS. Он, возможно, немного умеет в JavaScript, но чаще ограничивается умением прикрутить какой-нибудь плагин jQuery.
					p 
						|Фронтенд-разработчик не просто верстает макеты. Он хорошо знает JavaScript, разбирается во фреймворках и библиотеках (и активно юзает часть из них), понимает, что находится «под капотом» на серверной стороне. 
					p 
						|Итак, какие технологии должен освоить фронтенд-разработчик: 
					ul
						li HTML и CSS (в том числе сетки и CSS-фреймворки, спецификации W3C и WHATWG, HTML5/CSS3 Polyfills)
						li Инструменты дебаггинга (Chrome Dev Tools, Firebug и прочие)						
						li OOCSS / BEM / SMACSS
						li SVG
						li Графические редакторы (Photoshop, Illustrator и т. д.)
						li Препроцессоры CSS (Sass, Less, Stylus и т. д.)
						li Инструменты контроля версий (Git, GitHub, CVS и т. д.)
						li JavaScript
						li Cборщики и бандлеры Grunt, Gulp, Webpack
						li Пакетные менеджеры Npm и Yarn. 
						li Популярные фреймворки и библиотеки: jQuery, Angular.js, React.js, Backbone.js, Vue.js и т.д.)						
						li DOM
						li HTML5 API
						li ECMAScript 6
						li JavaScript транспайлеры (Babel)
						li Популярные CMS (WordPress, Drupal, Joomla и т.д.)
						li Понимать принципы построения бекэнда и разбираться в серверных технологиях (Node.js, PHP, Ruby, .NET и т. д.)					
						li Базы данных и языки запросов (SQL, MySql, NoSQL, MongoDB и т. д.)						
					p 
						|В чем должен разбираться:
					ul
						li кросс-браузерная и кросс-платформенная разработка;
						li прогрессивное улучшение и изящная деградация;
						li мобильная разработка;
						li адаптивная и отзывчивая верстка;
						li веб-шрифты;
						li принципы SEO-оптимизации.
					p 
						|Карьерный путь фронтендера обычно начинается с верстальщика — это самый логичный и общепринятый вариант.Сначала изучается связка HTML+CSS, затем на нее «наслаиваются» знания JavaScript, библиотек и фреймворков.
					p 
						|Чтобы стать фронтенд-разработчиком для начала нужно снять розовые очки. Обучение — это труд и самодисциплина. Большинство начинающих айтишников отсеиваются на этапе «хочу стать программистом и получать зарплату в долларах, но не думал, что придется так много учиться». Уникальность программирования и вообще любой айтишной специальности в постоянном самообучении. В этом и сложность, и прелесть IT-сферы. 
					p 
						|Главное правило будущего специалиста — ставить реальные цели в процессе обучения. В этом поможет планирование. Составьте список инструментов, которые планируете изучить, и держите его перед глазами. 
					a(href="https://habr.com/ru/company/netologyru/blog/327294/" target="_blank") © blognetology
	li.articles__item
		article.article
			.article__head
				h2.article__title Фронтенд — это не больно!
			.article__body
				.article__date 31.01.2018
				.article__content.section__text 
					p 
						|Боль фронтендера 
					p 
						|Так повелось, фронтендеры души не чают в том, что создают. И когда приходит злой дядя‑дизайнер и говорит, что блок нужно переверстать или убрать со страницы, они переживают. Им кажется, что их идеи «мочат» и не дают расти. Будто команда сговорилась против них и не понимает, как надо работать. Но это, конечно же, полная дичь.
					p 
						|Фронтендерам платят не за код
					p 
						|Задача фронтендера не в том, чтобы писать код или закрывать таски в Жире. Но понять это сразу ему трудно.Твоя задача как фронтендера — понять, в чём польза проекта, над которым работаешь. Если код помогает проекту решать задачи пользователей, значит результат есть, и ты — молодец. Если результата нет — не молодец. Фронтендер, дизайнер, бекендер, тестировщик, менеджер, клиент — все равны и делают одно дело: продукт для пользователей.
					p 
						|Как видят проблему другие
					p 
						|Когда фронтендера представляют, как машину для вёрстки страниц, плохо всем. Фронтендеру кажется, что к его мнению не прислушиваются. Дизайнер думает, что всем всё надо постоянно объяснять.Твои знания — это сила. Научись использовать её, чтобы к твоему мнению прислушивались. Перестать ныть, всем кажется, будто тебе ничего не стоит переверстать с нуля пару страниц, но тебе просто лень. Начать вникать в то, что делаешь, увидишь результат своей работы и работать станет приятнее.
					p 
						|У фронтендера есть право голоса 
					p 
						|Дизайнер, и менеджер, и клиент переживают за проект и хотят сделать работу качественно. Отсюда редизайны, перевёрстка и вот это всё. Эффективнее будет перед стартом обговорить с дизайнером систему отступов, размеров шрифтов и блоков, обсудить сетки. Если в проекте есть система правил и ограничений, и команда им следует, никто не будет путаться в отступах.
					p 
						|Как сделать, чтобы тебя услышали 
					p 
						|Один из главных инструментов в работе фронтендера — умение общаться с командой и обсуждать проблемы. Если фронтендер умеет общаться, он уже на порядок круче других. Чтобы удалось договориться с собеседником, он должен видеть пользу для себя в обсуждении.В переговорах надо постоянно прокачиваться. Проявляй заинтересованность в решении проблем. Если скидывать проблемы на других и ждать решений, ничего не получится. А вот если помогать команде решать проблемы, тебе будут больше доверять и начнут прислушиваться к твоему мнению.
					p 
						|Облегчай себе работу — копи знания 
					p 
						|Фронтендеры хотят избавиться от рутины и постоянных переделок, но не хотят понимать, откуда они берутся. Так вот, они берутся от недостатка знаний. Не уточнил задачу, прежде чем начать — сядешь переделывать. Если решение чересчур сложное, можно успееть обговорить это с дизайнером заранее и не придётся поддерживать неподдерживаемое. Не начинай верстать или программировать, пока не поймёшь, как это должно работать. Если тебе принёс задачу менеджер и он не знает деталей, узнай, у кого спрашивать. Запоминай всё что говорят или объясняют, записывай, веди чеклисты. Если какое‑то решение непонятно.Не воспринимай критику как оскорбление. Прислушивайся к замечаниям, они помогут быстрее вырасти в новой области.
					p 
						|Развивайся
					p 
						|В идеале все смежные области надо хоть немного пощупать. Когда ориентируешься и в дизайне, и в программировании, жить проще.Узнавай тонкости языков, с которыми работаешь, изучай в первую очередь основы программирования и алгоритмы, вместо модных фреймворков. Приноси больше пользы. Полезный фронтендер стоит дороже. 
					p 
						|Фронтендер — тоже дизайнер
					p 
						|В типографике научись подбирать правильные отступы и интерлиньяж, чем она стройнее, тем проще читать текст. В анимации научись управлять вниманием пользователя и расставлять акценты на странице. Сможешь отличать уместные анимации от неуместных. В интерфейсе научись  правильно подписывать новые лейблы в форме, использовать ховеры. Не придётся просить дизайнера разрисовать все состояния кнопок и полей.
					p 
						|Тоже редактор 
					p 
						|Хороший текст научит подписывать элементы на странице, править заголовки, опечатки и ошибки, формулировать мысли. Пользователи приходят за ним на сайт, а компании ради него нанимают UX‑писателей в штат.
					p 
						|Тоже бекендер
					p 
						|Знание бекенда поможет понять, как устроен проект на сервере. Сможешь оптимизировать логику запросов, улучшить загрузку страниц, оптимизировать загрузку статики на фронт.
					p 
						|Тоже тестировщик
					p 
						|Тесты помогут не пропустить ошибку в продакшн, спокойно спать по ночам и не искать часами баги в коде. С тестами сможешь рефакторить код, не боясь что‑то по пути сломать.
					p 
						|Тоже инженер 
					p 
						|Если думать как инженер, будешь видеть решение комплекса проблем, а не одной конкретной. Научишься решать задачи с учётом возможных проблем в будущем, разбивать сложные задачи на простые.
					p 
						|Тоже менеджер и маркетолог
					p 
						|Зная полезное действие проекта, проще определять критичные задачи, понимать целевую аудиторию и браузерную поддержку.
					p 
						|Эволюция продукта
					p 
						|Дизайн будет меняться. Всегда. Продукты развиваются: какие‑то части устаревают, какие‑то добавляются. Не привязывайся к коду, твоя польза — не написанный код, а работающий продукт. Переписывать код придётся постоянно, но это не должно мешать нормально работать. Фронтендеру важно построить принципы своей работы так, чтобы изменения не заставляли его переписывать всё с нуля.В работе никогда не будет чётких этапов: «нарисовали», «заверстали», «прикрутили» — это нормально. А вот полный редизайн за неделю до релиза — это не нормально, надо говорить с дизайнером, чтобы как-то поправить процесс.
					p 
						|Чем проще — тем лучше
					p 
						|Сделать идеальный проект нельзя, поэтому нужно уметь видеть важное и делать это в первую очередь, чтобы успеть к сроку. Фронтэндер должен знать, что из задуманного должно быть в релизе в первую очередь. Чем продукт проще, тем проще его поддерживать и тем он понятнее для пользователей. Поддержка плохих или слишком сложных решений в будущем будет стоить больше времени, денег и нервов. Тут речь и о дизайне и фичах для пользователей. Видишь, что сложно и неудобно — скажи.Работать должно быть проще. Пусть время тратится не на дебагинг и отладку, а на сам продукт.
					p 
						|Конвейер		
					p 
						|Если работа как на конвейере, студия просто клепает сайты каждую неделю, на которые дизайнерам абсолютно наплевать, то надо работать над этим. По человеку судят о результатах его трудов, но они не заканчиваются на пороге офиса. Принесли макет, и там должна быть анимация? Сделай такую анимацию, чтобы её потом не стыдно было показать у себя на сайте. Сделай ленивую загрузку картинок, чтобы страница загружалась мгновенно. Нашёл что‑то своё — делай, сделай круче, сохрани и хвастайся. Сделай так, чтобы распирало от гордости. Избавься от рутины, а потом занимайся тем, что нравится. Повезёт — другие ребята из команды захотят так же, найдёте с ними общий язык. Не повезёт, и будешь искать другую работу — у тебя будет больше шансов её найти, если годные штуки за плечами.
					a(href="https://bespoyasov.ru/front-not-pain/" target="_blank") © bespoyasov.ru
	li.articles__item
		article.article
			.article__head
				h2.article__title Выбор адаптивного email фреймворка: MJML или Foundation for Emails
			.article__body
				.article__date 05.08.2018
				.article__content.section__text 
					p 
						|Сначала ситуация
					p 
						|Вам необходимо иметь совместимость с множеством старых email клиентов, многие из которых не поддерживают даже самые базовые веб-стандарты (обтекание?). Также придется работать с webmail клиентами всех видов, которые по причинам безопасности или техническим причинам сами решили, как они будут показывать ваш драгоценный email.Более того, сейчас email читают с разных устройств с разными вьюпортами и требованиями. Лучшее всего, как это часто бывает, было бы упростить задачу и придерживаться базовых одноколоночных дизайнов. Несколько столбцов использовать только для меню или простые элементы интерфейса известной ширины. В конце концов, отличные, эффективные дизайны можно создавать, используя только одну колонку. Тем не менее, конечные пользователи и клиенты, привыкшие к «обычному» браузерному вебу, могут хотеть, чтобы просмотр почты был на таком же высоком уровне с точки зрения графики и адаптивности, как и веб-страницы. Поэтому ожидается сложный дизайн: много колонок, разное поведение на мобильных устройствах и десктопе, много изображений и т.д. Все изображения должны быть единообразными и pixel-perfect на всех email клиентах. Как это все можно реализовать?
					p 
						|Вариант 1: написать с нуля
					p 
						|Вы можете кодить каждое письмо вручную, сохраняя простоту и тестируя разметку. Этот вариант подходит только если:
					ul
						li Реализуется очень простой дизайн.
						li Вы напрямую контролируете дизайн и можете что-то упростить, если у вас не получилось реализовать единообразное решение.			
						li Вы можете позволить некоторый уровень деградации в старых клиентах: например, вы нормально воспримете то, что ваше письмо отличается (или плохо отображается) в старом клиенте Outlook.
						li У вас много времени.
					p 
						|Очевидно, что нужно тщательно протестировать дизайн. У Campaign Monitor есть замечательное руководство по CSS, на которое можно ссылаться во время создания. Далее рекомендую использовать автоматизированные тест сьюты типа Litmus или Email на Acid. Но ждите сюрпризов, потому что часто при просмотре в разных браузерах или ОС один и тот же дизайн в одном клиенте отображается по-разному.
					p 
						|Вариант 2: используйте шаблон
					p 
						|Шаблоны решают множество глюков разных email клиентов и платформ. Вариант подходит, если:
					ul
						li Вы работаете один или в маленькой команде.
						li Вы опытный и уже знаете большинство глюков форматирования письма, потому что сталкивались с этим раньше.			
						li Вы создали свои инструменты управления компонентами (для разных лент, которые имеют общие части дизайна), инлайните стили (если ваши письма нацелены на международную аудиторию, вам нужно инлайнить стили) и у вас есть какой-то инструментарий для разработки (Gulp, Grunt или что-то похожее), который автоматизирует все это.
						li Вы хотите контролировать весь код и не любите использовать сторонние инструменты.
						li Вы любите фиксить свои баги, а не баги используемых инструментов.
					p 
						|Вариант 3: используйте фреймворк
					p 
						|Если вам подходят следующие утверждения:
					ul
						li Вам придется создать много шаблонов email с общими компонентами.
						li Созданием должна заниматься команда разработчиков, которые могут изменить что-либо и/или иметь разный опыт работы с email.		
						li Вы слабо или вообще не контролируете оригинальный дизайн.
					p 
						|… тогда вы больше выиграете от использования фреймворка.
					p 
						|Сейчас доступны 2 самых интересных и популярных фреймворка MJML и Foundation для Emails. Самое большое преимущество использовать один из них заключается в том, что они уже решили большую часть глюков email клиентов. У них есть заданный рабочий процесс, которому можно следовать одному или командой. Хотя и по-разному, но они очень хорошо работают с адаптивным дизайном.
					p 
						|Заключение
					p 
						|Создание шаблонов писем – еще более неточная наука, по сравнению с front end разработкой. Это требует большого количества проб и ошибок и много тестирования. Чем сложнее макет и меньше контроля над ним, тем лучше использовать фреймворк, а не ручное кодирование писем. 
					a(href="https://webformyself.com/vybor-adaptivnogo-email-frejmvorka-mjml-ili-foundation-for-emails/" target="_blank") © webformyself
	li.articles__item
		article.article
			.article__head
				h2.article__title 8 приемов работы с CSS: параллакс, «липкий» футер и другие
			.article__body
				.article__date 05.04.2019
				.article__content.section__text 
					p 
						|1. «Липкий» футер. В большинстве проектов вы захотите, чтобы футер оставался в нижней части экрана вне зависимости от объема контента и адаптировался под различные условия просмотра. До появления CSS3 этого эффекта было сложно добиться, не зная точную высоту футера. Но сейчас это не проблема, для создания «липкого» футера лучше всего использовать Flexbox. А именно — взять свойство flex-shrink, так вы будете уверены в том, что нижний колонтитул сохранит свои размеры. При размере 0 он не будет сжиматься вообще.
					p 
						|2. Увеличение при наведении. Такой эффект — отличный способ привлечь внимание пользователя к кликабельному изображению. Когда тот наводит курсор на картинку, она слегка «приподнимается» с сохранением прежних размеров. Для того, чтобы сделать такой эффект, нам понадобится враппер div, им нужно обернуть тэг image в HTML. Кроме того, чтобы эффект заработал, нужно установить width и height элемента, а также убедиться, что его overflow установлен как hidden. После этого вы сможете применять любые типы трансформаций.
					p 
						|3. Постоянный режим Night Mode. Если вам необходим быстрый способ установить ночной режим для вашего сайта, то используйте фильтры invert и hue-rotate. Filter: invert() может принимать значения от 0 до 1. 1 — это инверсия, белое становится черным. Filter: hue-rotate () изменяет цветовое содержимое ваших элементов таким образом, что они сохраняют более-менее одинаковый уровень отделения друг от друга. Значения варьируются от 0 до 360 градусов. Если объединить эти эффекты внутри тега body, вы можете быстро добиться получения ночного скина для сайта (фону в этом случае нужно задать цвет). 
					p 
						|4. Кастомные буллиты. Для создания кастомных буллитов для списка можно использовать content вместе с псевдоэлементом ::before. Бонус: хлебные крошки в навигации. Есть много способов получать интересные эффекты с помощью свойства content, но я не удержался и добавил еще один. Поскольку слеши и другие символы, используемые для разделения хлебных крошек, это стилистика, имеет смысл определить их в CSS. Как и во многих других примерах в этой статье, эффект основан на псевдоклассе — last-child.
					p 
						|5. Параллакс-изображения. Этот популярный эффект привлекает внимание пользователей. Его стоит использовать, если вы хотите оживить страницу во время скроллинга. В то время, как обычные изображения изменяют местоположение при прокручивании, параллакс-изображения остаются на месте. Только CSS. Неотъемлемым элементом является background-attachment: fixed, он привязывает положение фонового изображения к определенной позиции. Картинка остается на месте, в то время, как окно, из которого она видна, прокручивается. Создается впечатление, что картинка находится позади всего сайта. Для того, чтобы заменить этот эффект на противоположный, указываем background-attachment: scroll. 
					p 
						|6. Анимация с обрезанными изображениями. Как и в случае «липкого» футера, до появления CSS3 было сложно сделать анимацию с обрезанными изображениями. Сейчас мы получили object-fit и object-position, которые вместе позволяют вам изменить размеры изображения без влияния на соотношение сторон картинки. Раньше нужно было использовать редактор изображений. Большим преимуществом CSS3 является возможность сделать изменение размеров изображений частью анимации. В этом случае можно воспользоваться преимуществом псевдокласса :checked, и JavaScript не нужен. 
					p 
						|7. Режимы смешивания. Если вы знакомы с Photoshop, то хорошо понимаете преимущества режимов смешивания (blend modes) для достижения различных интересных эффектов. Но знаете ли вы, что эти же режимы доступны и в CSS? Вы можете применять эти режимы не только для работы с фоном. Свойство mix-blend-mode позволяет смешивать текстовые элементы с фоном. Да, есть проблема с Chrome 58+, который неверно рендерит элементы, установленные в прозрачных тегах. Быстрый фикс — добавить background-color — white.
					p 
						|8. Pinterest style — имиджборд. CSS Grid и Flexbox значительно упростили создание различных типов адаптивных макетов, позволив без проблем центрировать элементы на странице по вертикали. Но они практически бесполезны в имиджбордах Pinterest style, где вертикальное расположение каждого элемента изменяется в зависимости от высоты элемента над ним. Лучший способ добиться этого — использовать набор свойств колонок CSS. Чаще всего они используются для создания нескольких колонок текста в газетном стиле, но есть и другой пример использования. Чтобы все заработало, нужно обернуть элементы в div и установить свойства column-width и column-gap. Затем, чтобы предотвратить разделение элементов между двумя колонками, добавить параметр column-break-inside.
					a(href="https://habr.com/ru/company/skillbox/blog/442658/" target="_blank") © skillbox 