-
	var contacts = {
		"skype" : ["Надежда Феоктистова", "skype:+79209708712?call"],
		"envelope" : ["feoktistovaconstr@gmail.com", "https://mail.google.com/mail/u/0/#inbox"],
		"phone" : ["8 920 970 87 12", "#"],
		"map_marker" : ["Рязань", "#"]
	};

.map-contact
	.contact-block
		.contact__title
			h2.subtitle Контакты
		ul.contact__list
			each contactArray, contactlSymbol in contacts
					li.contact__item
						a(href=`${contactArray[1]}` target="_blank" class="contact__link")
							span.contact__link-icon
								svg.contact__link-pic
									use(xlink:href=`img/sprite.svg#${contactlSymbol}`)
							span.contact__name= contactArray[0]