.menu-header
    nav.menu-nav
        ul.menu__list
            li.menu__item(style="transition-delay: 0.3s;")
                a(href="works.html").menu__link Мои работы
            li.menu__item(style="transition-delay: 0.4s;")
                a(href="about.html").menu__link.menu__link_active Обо мне
            li.menu__item(style="transition-delay: 0.5s;")
                a(href="blog.html").menu__link Блог
            li.menu__item(style="transition-delay: 0.6s;")
                a(href="index.html").menu__link Авторизация