ul.parallax#parallax
	li.parallax-layer
		.layer-bg.layer-bg_0
	li.parallax-layer
		.layer-bg.layer-bg_1
	li.parallax-layer
		.layer-bg.layer-bg_2
	li.parallax-layer
		.layer-bg.layer-bg_3
	li.parallax-layer
		.layer-bg.layer-bg_4
	li.parallax-layer
		.layer-bg.layer-bg_5
	li.parallax-layer
		.layer-bg.layer-bg_6
	li.parallax-layer
		.layer-bg.layer-bg_7
	li.parallax-layer
		.layer-bg.layer-bg_8
	li.parallax-layer
		.layer-bg.layer-bg_9
	


