.slider
	.slider__info
		.slider__info-container
			h2.subtitle.slider__title 
			.slider__teh
			a(href="#" target="_blank").slider__link
				svg.slider__link-svg
					use(xlink:href="img/sprite.svg#link")
				span.slider__link-text Посмотреть сайт
	.slider__body
		img.slider__body-img(src="" alt="portfolio_works")
	.slider__controls
		.slider__controls-btn.prev
			ul.slider__controls-list
				li.slider__controls-item(data-src="img/works/Ait2.png" data-title="AitOnePage Landing Page" data-teh="HTML5, CSS3, JQuery, Media Querie, Bootstrap 4, Sass, API map" data-link="https://mikalaw.github.io/AitOnePage/")
					img.slider__controls-img(src="img/works/Ait2.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/spirit82.png" data-title="Spirit8 Landing Page" data-teh="HTML5, CSS3, JQuery, Media Querie, Flexbox, Sass" data-link="https://mikalaw.github.io/Spirit8/")
					img.slider__controls-img(src="img/works/spirit82.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/cowork2.png" data-title="Корпоративный сайт Workadium" data-teh="HTML5, CSS3, Media Querie, Sass" data-link="https://mikalaw.github.io/cowork/")
					img.slider__controls-img(src="img/works/cowork2.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/pottfolio2.png" data-title="Сайт-портфолио" data-teh="HTML5, CSS3, Media Querie, Sass, Npm, Gulp" data-link="https://mikalaw.github.io/Portfolio/dist/")
					img.slider__controls-img(src="img/works/pottfolio2.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/portfolio22.png" data-title="Сайт-портфолио" data-teh="HTML5, CSS3, JQuery, JavaScript, Flexbox, Parallax, Pug, Sass, Npm, Gulp, Api map, Ajax, Node.js, Mongodb" data-link="https://mikalaw.github.io/Portfolio2/dist/")
					img.slider__controls-img(src="img/works/portfolio22.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/hip2.png" data-title="Hipsweet Landing Page" data-teh="HTML5, CSS3, JQuery, Sass, Npm, Gulp, API map" data-link="https://mikalaw.github.io/Hipsweet/dist/")
					img.slider__controls-img(src="img/works/hip2.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/bur2.png" data-title="Burgers Landing Page" data-teh="HTML5, CSS3, JQuery, Sass, Npm, Gulp, API map, Ajax" data-link="https://mikalaw.github.io/Burger/dist/")
					img.slider__controls-img(src="img/works/bur2.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/emai2.png" data-title="Email рассылка" data-teh="HTML, CSS" data-link="https://mikalaw.github.io/Email/")
					img.slider__controls-img(src="img/works/emai2.png" alt="portfolio_works")
			svg.slider__controls-svg
				use(xlink:href="img/sprite.svg#portf_arrow_down")
		.slider__controls-btn.next
			ul.slider__controls-list
				li.slider__controls-item(data-src="img/works/Ait2.png" data-title="AitOnePage Landing Page" data-teh="HTML5, CSS3, JQuery, Media Querie, Bootstrap 4, Sass, API map" data-link="https://mikalaw.github.io/AitOnePage/")
					img.slider__controls-img(src="img/works/Ait2.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/spirit82.png" data-title="Spirit8 Landing Page " data-teh="HTML5, CSS3, JQuery, Media Querie, Flexbox, Sass" data-link="https://mikalaw.github.io/Spirit8/")
					img.slider__controls-img(src="img/works/spirit82.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/cowork2.png" data-title="Корпоративный сайт Workadium" data-teh="HTML5, CSS3, Media Querie, Sass" data-link="https://mikalaw.github.io/cowork/")
					img.slider__controls-img(src="img/works/cowork2.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/pottfolio2.png" data-title="Сайт-портфолио" data-teh="HTML5, CSS3, Media Querie, Sass, Npm, Gulp" data-link="https://mikalaw.github.io/Portfolio/dist/")
					img.slider__controls-img(src="img/works/pottfolio2.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/portfolio22.png" data-title="Сайт-портфолио" data-teh="HTML5, CSS3, JQuery, JavaScript, Flexbox, Parallax, Pug, Sass, Npm, Gulp, Api map, Ajax, Node.js, Mongodb" data-link="https://mikalaw.github.io/Portfolio2/dist/")
					img.slider__controls-img(src="img/works/portfolio22.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/hip2.png" data-title="Hipsweet Landing Page " data-teh="HTML5, CSS3, JQuery, Sass, Npm, Gulp, API map" data-link="https://mikalaw.github.io/Hipsweet/dist/")
					img.slider__controls-img(src="img/works/hip2.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/bur2.png" data-title="Burgers Landing Page" data-teh="HTML5, CSS3, JQuery, Sass, Npm, Gulp, API map, Ajax" data-link="https://mikalaw.github.io/Burger/dist/")
					img.slider__controls-img(src="img/works/bur2.png" alt="portfolio_works")
				li.slider__controls-item(data-src="img/works/emai2.png" data-title="Email рассылка" data-teh="HTML, CSS" data-link="https://mikalaw.github.io/Email/")
					img.slider__controls-img(src="img/works/emai2.png" alt="portfolio_works")
			svg.slider__controls-svg
				use(xlink:href="img/sprite.svg#portf_arrow_up")
