.best {
	background: url('../img/bg/best.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	text-align: center;
}

.best .container {
	@include pos(relative);
}

.best__block {
	padding-top: 49px;
}

.best__list {
	@include inlinehack(14px);
}

.best__item {
	@include inlineblock();
	width: 33.3%;	
	padding: 10px;
}

.best__icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 19px;
}

.best__img {
	@include pos(relative);
}

.best__pic {
	@include pic();
}

.best__title {
	font-family: 'Lifehack Medium';
	font-size: 24px;
	color: $second;
	margin: 0;
	font-weight: normal;
	margin-bottom: 12px;
	line-height: 1.2;
}



