.hero {
	background: url('../img/bg/hero-bg.jpg') no-repeat center;
	background-color: $second;
	background-size: cover;
	position: relative;
}

.header {
	padding-top: 10px;
}

.header__logo {
	@include float(20%);
}

.header__menu {
	@include float(80%);
	padding-top: 16px;
	text-align: right; 
}

.logo {
	@include inlineblock();
	color: #eee;
}

.nav {
	@include inlineblock(middle);
}

.nav__list {
	@include inlinehack(13px);
}

.nav__item {
	@include inlineblock(middle);
	&:last-child {
		.nav__link{
			&:after {
				display: none;
			}
		}
	}
}

.nav__link {
	padding: 0 18px;
	position: relative;
	transition: 0.3s;
	&:after {
		content: '';		
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: $prime;		
		right: -2px;
		@include pos(absolute);
	}
	&:hover {
		text-decoration: underline;
	}
}

.nav__link, 
.btn {
	@include Ubuntu(medium);
	font-size: 13px;
	color: $prime;
	text-transform: uppercase;
	text-decoration: none;
	@include inlineblock(middle);
}

.hero__content {
	@include pos(absolute);
	left: 0;
	right: 0;	
}

.hero__left {
	@include float(50%);
}

.hero__right {
	@include float(50%);
	padding-top: 120px;
}

.hero__pic {
	@include pic();
	color: #eee;
}

.hero__text {
	font-family: 'Lifehack Medium';
	font-size: 65px;
	color: $prime;
	line-height: 1.0;
	margin-top: 16px;
	word-break: break-word;
}

.arrow__down {
	position: absolute;	
	bottom: 70px;
	left: 50%;
	transform: translateX(-50%);
}

.arrow__link {
	display: inline-block;
	padding: 10px;
	border-radius: 50%;
	transition: 0.3s;
	&:hover {
		transform: translateY(10%);
	}
}




