.order {
	background: url('../img/bg/order.jpg') no-repeat center;
	background-size: cover;
	background-color: $second;
	.container {
		@include pos(relative);
		text-align: center;
	}
}

.order__block {
	margin-top: 75px;
}

.form__wrapper,
.form__cell {
	@extend %clearfix;
	text-align: left;
	margin-bottom: 15px;
}

.form__wrapper {
	margin-left: -2%;
}

.form__left,
.form__right {
	@include float(48%);
	margin-left: 2%;	
}

.form__cell_dbl {
	margin-left: -20px;
	.form__row {
		float: left;
		width: calc(100% / 2 - 20px);
		margin-left: 20px;
	}
}

.form__cell_forth {
	margin-left: -20px;
	.form__row {
		float: left;
		width: calc(100% / 4 - 20.1px);
		margin-left: 20px;
	}
}

.form__title {
	display: block;
	color: $prime;
	margin-bottom: 5px;
}

.form__input {
	width: 100%;
	border-radius: 5px;
	padding: 6px 10px;
	border: 1px solid transparent;
	&:focus {
		outline: none;
	}
}

.form__textarea {
	height: 110px;
	resize: none;
}

.form__radio {
	@include inlineblock(middle);
	margin-right: 15px;
}

.form__input-radio {
	@include inlineblock(middle);
	display: none;
	&:checked {
		& + .form__title-radio:after {
		    display: block;
		}  
	}
}

.form__title-box {
	color: $prime;
	margin-bottom: 5px;
	@include inlineblock(middle);	
	margin-left: 20px
}

.form__title-radio {
	position: relative;
	&:before {
		content: '';		
		left: -20px;
		@include pos(absolute);
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: $prime;		
	}
	&:after {
		content: '';
		@include pos(absolute);
		left: -16px;	
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: $add;
		display: none;
	}
}


.form__input-checkbox {
	@include inlineblock(middle);
	display: none;
	&:checked {
		& + .form__title-checkbox:after {
		    display: block;
		    opacity: 1;
		}  
	}
}

.form__title-checkbox {
	position: relative;
	&:before {
		content: '';		
		left: -20px;
		@include pos(absolute);
		width: 15px;
		height: 15px;
		background: $prime;		
	}
	&:after {
		content: '';
		@include pos(absolute);
		left: -16px;	
		width: 9px;
		height: 9px;
		border-radius: 50%;
		display: none;
		background: url('../img/icon/check.svg') no-repeat center;
		background-size: cover;
		opacity: 0;
		transition: opacity 0.5s;
	}
}

.btn__reset {
	text-decoration: none;
	color: $prime;
	font-size: 14px;
	margin-left: 20px;
	background:transparent;
	border: none;
	&:hover {
		text-decoration: underline;
	}
}

.status-popup {
	display: none;
}

.status-popup__inner {
	padding: 15px;
	text-align: center;	
}

.status-popup__message {
	font-size: 14px;
	color: $second;
	margin-bottom: 15px;
}
