.rewiew {
	background: #000;
}

.rewiew__list {
	height: 100%;
}

.rewiew__item {
	@include float(25%);
	height: 50%;
	&:hover {
		.rewiew__desc {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

.rewiew__block {
	width: 100%;
	height: 100%;
	position: relative;
}

.rewiew__avatar {
	width: 100%;
  	height: 100%;
  	background-size: cover !important;
  	background-position: center center !important;
  	background-repeat: no-repeat !important;
 	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
}

.rewiew__img {
	position: absolute;
	left: -9999px;
}

.rewiew__desc {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 100%;
  	height: 100%;
  	transform: translate(-50%, -50%) scale(0.9);
  	opacity: 0;
  	background: rgba(20, 20, 20, 0.7);
  	padding: 17% 12% 0;
  	transition: .3s;
}

.review__name {
	font-family: 'Gagalin Regular';
	color: $prime;
	margin: 0;
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 16px;
}

.review__text {
	p {
		color: $prime;
	}
}

.rewiew__btn {
	margin-top: 20px;
}

.rewiew__btn-link {
	display: inline-block;
	@include Ubuntu(medium);
	font-size: 13px;
	color: $prime;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 5px;
	border-radius: 5px;
  	background-color: rgb(47, 50, 52);  	
  	transition: 0.3s;
  	&:hover {  		
 		background-color: rgb(31, 33, 34);
  	}
}

.rewiew__popup-block {
	position: relative;
	display: none;
}

.rewiew__popup-name {
	color:$second
}

.fancybox-overlay {
	background: rgba(0, 0, 0, 0.6);
}

.rewiew__popup-close {
	position: absolute;
	right: 0;	
	top: 0;
	background: url('../img/icon/close.svg') no-repeat center;
	background-size: cover;
	width: 15px;
	height: 15px;
	opacity: 0.6;
	transition: 0.3s;
	&:hover {
		opacity: 1;
	}
}