$body-font: "Ubuntu", Arial, sans-serif;
$title-font: "Gagalin", Arial, sans-serif;
$subtitle-font: "Lifehack", Arial, sans-serif;
$title-color: #f9b43b;
$subtitle-color: #e45028;
$white-color: #ffffff;
$gray-color: #2f3234;
