.menu-btn {
	display: inline-block;
	z-index: 10;
}

.navbar-toggle {	
	cursor: pointer;
	border: 1px solid transparent;
	background: transparent;	
	&:focus {
		outline: none;
	}
}

.navbar-toggle__icon-bar {
	display: block;
    width: 34px;
    height: 5px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: rem(8px);
    transition: all 0.3s ease-in-out;
}

.navbar-toggle__icon-bar:last-child {
	 margin-bottom: rem(0px);
}

.navbar-toggle {
 	&.active {
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 10;
    	.navbar-toggle__icon-bar:nth-child(2) {
    		opacity: 0;
    	}
    	.navbar-toggle__icon-bar:nth-child(1) {
    		transform: translateY(13px) rotate(-45deg);
    	}
    	.navbar-toggle__icon-bar:nth-child(3) {
    		transform: translateY(-13px) rotate(45deg);
    	}
    }
}

.menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    overflow: hidden;
    z-index: 8;
    transition: visibility 0.7s;
    &::before,
    &::after {
        content: "";
        position: absolute;        
        top: 0;
        width: 0;
        height: 100%;
        background-color: rgba($contrast, 0.87);
        transition: all 0.7s;
    }
    &::before {
        left: 0;
    }
    &::after{
        right: 0px;
    }
}
.menu__list {
    display: block; 
    z-index: 1;
}
.menu__item {
    text-align: center;
    opacity: 0;
    transform: scale3d(0,0,0);
    transition: none;
}
.menu__link {
    text-decoration: none;
    font-family: 'Bernier';
    color: $white;
    font-size: rem(53px);
    line-height: rem(72px);
    position: relative; 
    text-transform: uppercase;
    @include phones {
        font-size: rem(35px);
    }
    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 32px;
        width: 0px;
        height: 5px;
        background: rgba($white, .7);
        transition: 0.3s ease-in-out;
        @include phones {
         top: 19px;
        }
    }
    &:after {
        right: rem(-38px);
    }
    &:before {
        left: rem(-38px);
    }
    &:hover,
    &.active,
    &.menu__link_active {
        &::before,
        &::after {
            width: 22px 
        }
    }
}

.menu-nav.active {
    visibility: visible;
    &:before,
    &:after {
        width: 50%;
        }
    .menu__item {
        opacity: 1;
        z-index: 1;
        transform: scale3d(1,1,1);
        transition: all 0.3s cubic-bezier(.77,.6,.31,1.4) 0.7s; 
        }
    }

