.apteka-tag {
  padding: 4px;
  min-width: 55px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: $color-apteka-2;
  color: $color-white;
}