/* media variables */
.user-typography h1 {
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .user-typography h1 {
    font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.6px;
  }
}
.user-typography h2 {
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .user-typography h2 {
    font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.6px;
    margin-bottom: 18px;
  }
}
.user-typography h3 {
  text-transform: uppercase;
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .user-typography h3 {
    font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
  }
}
.user-typography h4 {
  text-transform: uppercase;
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.user-typography h3 + h4 {
  margin-bottom: 30px;
}
.user-typography ol li > ul, .user-typography ul li > ul, .user-typography > ul {
  margin-bottom: 30px;
}
.user-typography ol li > ul li, .user-typography ul li > ul li, .user-typography > ul li {
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  padding-left: 37px;
  position: relative;
}
.user-typography ol li > ul li::before, .user-typography ul li > ul li::before, .user-typography > ul li::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2a1f15;
  border-radius: 50%;
}
.user-typography ol li > ul li span, .user-typography ul li > ul li span, .user-typography > ul li span {
  font-weight: 700;
}
.user-typography ol li > ul li:not(:last-child), .user-typography ul li > ul li:not(:last-child), .user-typography > ul li:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .user-typography ol li > ul li:not(:last-child), .user-typography ul li > ul li:not(:last-child), .user-typography > ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .user-typography ol li > ul li:not(:last-child), .user-typography ul li > ul li:not(:last-child), .user-typography > ul li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.user-typography ol li > ul li a, .user-typography ul li > ul li a, .user-typography > ul li a {
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.1s linear;
  margin: 0 4px;
}
.user-typography ol li > ul li a:hover, .user-typography ol li > ul li a:focus, .user-typography ul li > ul li a:hover, .user-typography ul li > ul li a:focus, .user-typography > ul li a:hover, .user-typography > ul li a:focus {
  text-decoration: none;
}
.user-typography ol li > ol, .user-typography ul li > ol, .user-typography > ol {
  counter-reset: num;
  margin-bottom: 30px;
}
.user-typography ol li > ol > li, .user-typography ul li > ol > li, .user-typography > ol > li {
  padding-left: 39px;
  list-style: none;
  position: relative;
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}
.user-typography ol li > ol > li::before, .user-typography ul li > ol > li::before, .user-typography > ol > li::before {
  position: absolute;
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  left: 3px;
  top: 0px;
  text-transform: uppercase;
  color: #2a1f15;
  content: counter(num) ".";
  counter-increment: num;
}
.user-typography ol li > ol > li:not(:last-child), .user-typography ul li > ol > li:not(:last-child), .user-typography > ol > li:not(:last-child) {
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .user-typography ol li > ol > li:not(:last-child), .user-typography ul li > ol > li:not(:last-child), .user-typography > ol > li:not(:last-child) {
    margin-bottom: 22px;
  }
}
.user-typography ol li > ol > li span, .user-typography ul li > ol > li span, .user-typography > ol > li span {
  font-weight: 700;
}
.user-typography ol li > ol > li ul, .user-typography ul li > ol > li ul, .user-typography > ol > li ul {
  width: 100%;
  margin-top: 11px;
  margin-bottom: 0;
}
.user-typography ol li > ol > li a, .user-typography ul li > ol > li a, .user-typography > ol > li a {
  margin: 0 4px;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.1s linear;
}
.user-typography ol li > ol > li a:hover, .user-typography ol li > ol > li a:focus, .user-typography ul li > ol > li a:hover, .user-typography ul li > ol > li a:focus, .user-typography > ol > li a:hover, .user-typography > ol > li a:focus {
  text-decoration: none;
}
.user-typography h3 + ol {
  margin-bottom: 62px;
}
.user-typography p {
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .user-typography p {
    margin-bottom: 20px;
  }
}
.user-typography p span {
  font-weight: 700;
}
.user-typography > figure img, .user-typography > img {
  display: block;
  margin-top: 58px;
  max-width: 100%;
  height: auto;
}
.user-typography figcaption {
  color: #717070;
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-top: 10px;
}
.user-typography figure {
  margin-bottom: 58px;
}
.user-typography blockquote {
  display: block;
  margin-top: 30px;
  margin-bottom: 32px;
  padding: 18px 0;
  border-top: 1px solid rgba(42, 31, 21, 0.15);
  border-bottom: 1px solid rgba(42, 31, 21, 0.15);
}
.user-typography blockquote p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.user-typography blockquote p:last-child {
  margin-bottom: 0;
}

.user-typography_privacy-policy {
  max-width: 810px;
}
.user-typography_privacy-policy h2:not(:first-child) {
  margin-top: 30px;
}
.user-typography_privacy-policy p {
  display: flex;
  column-gap: 12px;
  font-family: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 11px;
}
.user-typography_privacy-policy p span {
  font-weight: 500;
}
/*# sourceMappingURL=user-typography.css.map */