html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  position: relative;
  min-width: 700px;
  height: 100%;
  overflow: hidden;
}
.mapboxgl-map {
  height: 100vh;
  overflow: hidden;
}
.mapboxgl-control-container {
  display: none;
}
.Mui-focused:after {
  border-bottom-color: #212121 !important;
}
.Mui-focused {
  color: #212121 !important;
}
.Mui-error:after {
  border-bottom-color: #d32f2f !important;
}
label.Mui-focused {
  color: #212121;
}
.MuiInput-underline:after {
  border-bottom-color: #212121;
}
.MuiCircularProgress-svg {
  color: #ffd128;
}
